[2016-08-03 15:57] dodyg opened #1 "Implement your first middleware"

[2016-08-03 15:57] dodyg opened #2 "Explore IHostingEnvironment"

[2016-08-03 15:58] dodyg opened #3 "Implement simple logging"

[2016-08-04 07:37] dodyg opened #4 "Implement serve static files with logging"
Write to log for every single static files serve by the site.

[2016-08-05 16:26] dodyg opened #5 "make markdown-server-middleware"
Convert the markdown-server project to use markdown middleware

[2016-08-08 15:28] dodyg commented on #5
Implemented

[2016-08-08 15:28] #5 closed

[2016-08-08 15:28] dodyg commented on #1
Done

[2016-08-08 15:28] #1 closed

[2016-08-08 15:29] dodyg commented on #3
Done

[2016-08-08 15:29] #3 closed

[2016-08-09 11:38] dodyg opened #6 "Implement scheduler sample"
Using Quartz.NET perhaps

[2016-08-09 11:39] dodyg opened #7 "Implement a mini framework on top of aspnet"
Because why not.

[2016-08-09 11:41] dodyg opened #8 "Implement an image processor server with middleware"
1. GET Pass a URL with image with instructions.
2. Get processed image back.

[2016-08-09 11:47] dodyg opened #9 "hello world with config (json, xml, ini)"

[2016-08-09 11:51] dodyg opened #10 "Implement XML validator"
1. Load an XML schema
2. Pass an xml document and show whether the XML is valid or not.

[2016-08-09 11:54] dodyg opened #11 "rss/atom river of news server"
1. Pass a list of rss/atom feeds via config
2. Render them nicely

[2016-08-09 11:55] dodyg opened #12 "websocket using signalr"
Use signalr core

[2016-08-09 11:56] dodyg opened #13 "rabbiitmq ping pong"
Broadcast and receive rabbitmq messages

[2016-08-09 11:57] dodyg opened #14 "Talk to rethinkdb"

[2016-08-09 12:00] dodyg opened #15 "Talk to redis"

[2016-08-09 12:06] dodyg opened #16 "m"

[2016-08-09 12:13] dodyg opened #17 "Simple form authentication"

[2016-08-09 12:14] dodyg opened #18 "Localization"

[2016-08-09 12:14] dodyg opened #19 "Using Razor view without MVC"

[2016-08-09 12:15] dodyg opened #20 "Hello world with IIS Integration"

[2016-08-09 12:15] dodyg opened #21 "All about routing"

[2016-08-09 12:15] dodyg opened #22 "Simple session"

[2016-08-09 12:16] dodyg opened #23 "Echo websocket server"

[2016-08-09 12:16] dodyg opened #24 "Use ObjectPools"

[2016-08-09 12:17] dodyg opened #25 "one way hash"

[2016-08-09 12:18] dodyg opened #26 "cookie server"

[2016-08-10 11:40] dodyg commented on #25
It is implemented as ```password-hasher``` at a very basic level. It forces you to declare a class type to do a hash. I am not sure why. I will investigate if changing the shape of the class will invalidate the hash.

[2016-08-11 18:52] #26 closed

[2016-08-20 08:47] dodyg commented on #21
I still can't bloody find a built in way to do nested routing. Bloody hell.

[2016-09-17 13:38] dodyg commented on #19
https://github.com/aspnet/Entropy/tree/master/samples/Mvc.RenderViewToString

[2016-09-17 13:39] dodyg commented on #19
http://stackoverflow.com/questions/38247080/using-razor-outside-of-mvc-in-net-core

[2016-09-17 13:40] dodyg commented on #24
http://stackoverflow.com/questions/2510975/c-sharp-object-pooling-pattern-implementation

[2016-09-17 13:41] dodyg commented on #24
https://github.com/dotnet/corefx/issues/4547

[2016-09-18 14:11] dodyg opened #27 "Write a simple HTTP Proxy"

[2016-09-19 18:05] tebeco opened #28 "Simple Server Sent Event (aka SSE)"
will provide a PR to review

[2016-09-19 18:05] tebeco opened #29 "MultiChannel Server Sent Event (aka SSE)"
Will provide a dummy implementation

[2016-09-20 21:13] dodyg commented on #29
Oh awesome. I am looking forward to it. This is the first time I heard of SSE.

[2016-09-20 21:16] dodyg opened #30 "Easy object registration"
Show how to easily register your classes for DI conveniently

[2016-09-20 21:18] dodyg commented on #13
Use EasyNetQ Core

[2016-09-20 21:20] #2 closed

[2016-09-20 21:21] dodyg opened #31 "Implement custom file provider"

[2016-09-20 21:23] tebeco commented on #29
Streaming event :
* Easier than web socket (no need for hardware proxy etc..)
* Native in browser
* support reconnect / replay
* support multi event type
* BUT only one way (server to client)

http://hpbn.co
There's a really well explained chapter

[2016-09-20 21:23] dodyg opened #32 "Clearly mark which samples require full framework and which one works on .net core"

[2016-09-20 21:24] dodyg opened #33 "Localization"

[2016-09-21 09:46] dodyg commented on #30
841aa81e1775617c250aecf44bceb79fa89bd782

[2016-09-21 09:46] #30 closed

[2016-09-22 16:06] dodyg opened #34 "Simulating latency"
https://blog.mariusschulz.com/2016/08/06/simulating-latency-in-asp-net-core

[2016-10-03 10:51] dodyg opened #35 "Explore IChangeToken"
https://github.com/aspnet/FileSystem/blob/dev/src/Microsoft.Extensions.FileProviders.Physical/PhysicalFileProvider.cs

[2016-10-17 08:15] dodyg commented on #35
https://docs.asp.net/projects/api/en/latest/autoapi/Microsoft/Extensions/Configuration/ConfigurationReloadToken/index.html?highlight=IChangeToken

[2016-10-17 08:16] dodyg commented on #35
https://docs.asp.net/projects/api/en/latest/autoapi/Microsoft/Extensions/FileProviders/NullChangeToken/index.html?highlight=IChangeToken

[2016-10-17 08:17] dodyg commented on #35
https://docs.asp.net/projects/api/en/latest/autoapi/Microsoft/Extensions/Primitives/ChangeToken/index.html?highlight=IChangeToken

[2016-10-17 08:19] dodyg opened #36 "Explore IStartupFilter"

[2016-10-17 08:31] dodyg opened #37 "ISessionFeature"
https://docs.asp.net/en/latest/fundamentals/request-features.html

[2016-10-18 15:40] dodyg commented on #36
https://luisfsgoncalves.wordpress.com/2016/07/26/asp-net-core-hosting-revisited-part-ii/

[2016-10-18 16:02] dodyg opened #38 "Explore configuration"
https://github.com/aspnet/Entropy/blob/dev/samples/Config.SettingObject.Web/Startup.cs

[2016-10-22 11:00] dodyg commented on #38
So far we have sample for INI, XML, and InMemory configuration.

[2016-10-26 01:49] Immortalin opened #39 "User Authentication, Password Reset and Authorisation"

[2016-10-26 01:49] Immortalin opened #40 "E-commerce"

[2016-10-28 09:56] dodyg commented on #40
This probably should go to a separate project. Good idea though.

[2016-10-28 11:23] dodyg commented on #38
Add INI with Options and XML with options.

[2016-11-23 16:12] dodyg commented on #37
Implement the string/int simple sample. Next show how to store complex object.

[2016-11-23 16:13] dodyg commented on #22
Implemented

[2016-11-23 16:13] #22 closed

[2016-11-30 15:06] dodyg opened #41 "nested route"
https://github.com/aspnet/Routing/issues/352

This is still ongoing

[2016-12-06 01:08] dodyg opened #42 "javascript services"
https://github.com/aspnet/JavaScriptServices/tree/dev/src/Microsoft.AspNetCore.NodeServices#microsoftaspnetcorenodeservices

[2016-12-11 17:46] dodyg opened #43 "aspnetcore rewrite module"
https://www.nuget.org/packages/Microsoft.AspNetCore.Rewrite

[2016-12-11 17:58] dodyg commented on #27
https://github.com/aspnet/Proxy

[2016-12-11 18:00] dodyg opened #44 "web socket"
https://github.com/aspnet/WebSockets

[2016-12-12 22:18] dodyg opened #45 "http override"
https://github.com/aspnet/BasicMiddleware/blob/dev/samples/HttpOverridesSample/Startup.cs

[2016-12-12 22:36] dodyg opened #46 "cookie based temp data provider"
https://github.com/aspnet/Docs/issues/2306

[2016-12-29 21:56] dodyg commented on #43
http://www.softfluent.com/blog/dev/2016/12/27/Page-redirection-and-URL-Rewriting-with-ASP-NET-Core

[2016-12-29 21:58] dodyg commented on #44
http://www.softfluent.com/blog/dev/2016/12/11/Using-Web-Sockets-with-ASP-NET-Core

[2016-12-29 22:15] dodyg opened #48 "File upload"
https://github.com/aspnet/Entropy/blob/dev/samples/Content.Upload.Multipart/Startup.cs

[2016-12-29 22:16] dodyg opened #49 "Form upload"
https://github.com/aspnet/Entropy/tree/dev/samples/Content.Upload.Form

[2017-01-08 21:31] dodyg opened #50 "Reference for more future sample"
https://www.reddit.com/r/dotnet/

[2017-03-29 09:35] dodyg commented on #9
All done.

[2017-03-29 09:35] #9 closed

[2017-04-23 09:22] dodyg commented on #48
This is implemented.

[2017-04-23 09:22] #48 closed

[2017-04-23 09:26] dodyg commented on #31
Implemented (a super simple one)

[2017-04-23 10:12] dodyg opened #51 "Really dig into middleware"
There are still problem with clarity in the consequences of middleware

https://github.com/aspnet/Docs/tree/master/aspnetcore/fundamentals/middleware/sample

[2017-04-23 14:55] dodyg commented on #51
https://andrewlock.net/understanding-your-middleware-pipeline-with-the-middleware-analysis-package/#addingacustomnameforanonymousmiddleware

[2017-04-23 21:58] dodyg opened #52 "ASP.NET Buffering"
https://github.com/aspnet/BasicMiddleware/blob/dev/src/Microsoft.AspNetCore.Buffering/ResponseBufferingMiddleware.cs

[2017-04-23 22:04] dodyg opened #53 "IStartup"
https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNetCore.Hosting/Startup/ConventionBasedStartup.cs

http://stackoverflow.com/questions/42052458/getting-reference-of-startup-cs-object

[2017-04-23 22:10] dodyg opened #54 "Data protection"
https://github.com/aspnet/DataProtection

[2017-04-23 22:10] dodyg opened #55 "Diagnostics"
https://github.com/aspnet/Diagnostics

[2017-04-23 22:11] dodyg opened #56 "CORS"
https://github.com/aspnet/CORS

[2017-04-23 22:13] dodyg opened #57 "HTTP Abstractions"
https://github.com/aspnet/HttpAbstractions/tree/dev/src

[2017-04-23 22:23] dodyg opened #58 "Segment"
https://github.com/aspnet/Hosting/issues/815

[2017-04-28 15:40] dodyg opened #59 "Node Services"
https://github.com/aspnet/JavaScriptServices/tree/dev/src/Microsoft.AspNetCore.NodeServices#simple-usage-example

[2017-05-01 06:25] dodyg opened #60 "Explore StartupLoader"
https://github.com/aspnet/Hosting/blob/rel/1.1.0/src/Microsoft.AspNetCore.Hosting/Internal/StartupLoader.cs

[2017-05-27 13:07] dodyg commented on #60
Create samples on how to select startup based on environment variable

[2017-05-27 15:20] dodyg commented on #60
Provide samples for `Configure` and `ConfigureServices` selections based on environment.

[2017-05-27 15:20] #60 closed

[2017-05-27 15:41] dodyg commented on #53
https://luisfsgoncalves.wordpress.com/2016/07/26/asp-net-core-hosting-revisited-part-ii/

https://docs.microsoft.com/en-us/aspnet/core/api/microsoft.aspnetcore.hosting.istartup

https://github.com/aspnet/Hosting/pull/714

[2017-05-27 16:21] dodyg commented on #53
https://github.com/aspnet/Hosting/tree/dev/samples/SampleStartups

[2017-06-03 10:39] dodyg commented on #55
4 sample projects added

[2017-06-03 10:40] #50 closed

[2017-06-03 10:40] dodyg commented on #40
Out of scope.

[2017-06-03 10:40] #40 closed

[2017-06-03 10:41] dodyg commented on #36
Added one sample for IStartupFilter

[2017-06-18 11:51] dodyg opened #61 "Show custom directory formatter for DirectoryBrowsing"
https://msdn.microsoft.com/en-us/library/microsoft.owin.staticfiles.directorybrowseroptions(v=vs.113).aspx

[2017-06-26 11:39] dodyg commented on #61
Done.

[2017-06-26 11:39] #61 closed

[2017-06-27 21:17] dodyg opened #62 "Authentication"
Start dabbling with authentication details

[2017-06-27 21:17] dodyg commented on #62
https://www.meziantou.net/2017/06/22/cookie-authentication-in-asp-net-core-2-without-asp-net-identity

[2017-06-28 17:53] dodyg opened #63 "Configuring server"
http://reynders.co/use-iserver-from-aspnet-core-to-create-your-own-web-server/

[2017-07-01 10:42] dodyg commented on #44
https://radu-matei.github.io/blog/aspnet-core-websockets-middleware/

[2017-07-01 11:22] dodyg commented on #44
https://stackoverflow.com/questions/41911072/choosing-a-buffer-size-for-a-websocket-response

[2017-07-01 11:42] dodyg commented on #44
https://caitiem.com/2013/12/02/a-websocket-primer/

[2017-07-03 14:24] dodyg commented on #23
https://github.com/dodyg/practical-aspnetcore/tree/master/web-sockets

[2017-07-03 14:24] #23 closed

[2017-07-03 14:25] dodyg commented on #18
There are 5 samples created

[2017-07-03 14:25] #18 closed

[2017-07-03 14:25] dodyg commented on #49
Done

[2017-07-03 14:25] #49 closed

[2017-07-03 14:26] #38 closed

[2017-07-19 16:35] nickwalkmsft opened #64 "Suggestion: Top-level folder for everything"
Saw this on Reddit; love the idea.

I have a small, GitHub-specific suggestion: It doesn't seem there's a technical reason to have all the directories at the top level, so put them into a subdir so they don't put the top of the readme "below the fold" on the GitHub project page.

[2017-07-20 12:46] dodyg commented on #64
Will do. Thanks.

[2017-08-10 08:04] dodyg commented on #64
This is done. All the sample codes are under /projects.

[2017-08-10 08:04] #64 closed

[2017-08-17 09:51] dodyg commented on #28
Implemented
https://github.com/dodyg/practical-aspnetcore/tree/master/projects/sse

[2017-08-17 09:51] #28 closed

[2017-08-17 09:52] dodyg commented on #44
Added 5 samples

[2017-08-17 09:52] #44 closed

[2017-08-17 11:49] dodyg commented on #62
https://github.com/aspnet/Security/issues/1310

[2017-08-17 12:02] dodyg opened #65 "Startup and Configuration on ASP.NET Core 2"
https://joonasw.net/view/aspnet-core-2-configuration-changes

https://andrewlock.net/exploring-program-and-startup-in-asp-net-core-2-preview1-2/

[2017-08-19 08:47] dodyg opened #66 "Explore session"

[2017-08-19 08:58] dodyg commented on #66
Session With Memory Cache
Session With Redis Cache

[2017-08-21 16:38] dodyg opened #68 "Add samples using Mediatr"
https://github.com/jbogard/MediatR/wiki

[2017-09-11 06:56] dodyg commented on #66
Redis Cache implemented. As does Memory Cache.

[2017-09-11 06:56] #66 closed

[2017-09-11 07:58] dodyg opened #69 "ASP .NET Core 2 changes"
https://github.com/aspnet/Announcements/issues/257

[2017-09-11 17:02] Tratcher commented on #66
https://github.com/dodyg/practical-aspnetcore/blob/1e93a310b623e9ef5a82dd5e1c6d3a92b3ee1539/projects/features-session/src/Program.cs#L24-L47
https://github.com/dodyg/practical-aspnetcore/blob/1e93a310b623e9ef5a82dd5e1c6d3a92b3ee1539/projects/aspnet-core-2/features-session-redis/src/Program.cs#L66-L95
It's a little strange to use session for communication within a request. Items works better for th

[2017-09-13 06:00] lukiasz opened #71 "Razor pages example"
Hello,

I'm familiarizing with .NET Core 2.0 in which there is nice feature called [Razor Pages](https://docs.microsoft.com/en-us/aspnet/core/mvc/razor-pages/). Would you mind if I contribute to your project and add few examples of it?

[2017-09-13 07:43] dodyg commented on #71
Go ahead. Please add them under a mvc/razor-pages folders.

[2017-09-13 08:02] dodyg commented on #66
Thanks for the feedback.

The point of the code is simply to show the mechanic of using a Redis session using BinaryFormatter.  I will add another sample on how to use Json.  I will make a note on the example.

BinaryFormatter is handy for caching complex objects that cannot be handled by  to Redis.

[2017-09-13 08:17] dodyg opened #72 "RSS Reading / Writing using SyndicationFeedReaderWriter"
https://github.com/dotnet/SyndicationFeedReaderWriter

[2017-09-16 12:08] lukiasz commented on #71
I created pull request: https://github.com/dodyg/practical-aspnetcore/pull/73

[2017-09-20 12:34] arthg opened #74 "SignalR"
I am thinking of contributing a simple SignalR sample for ASP.NET Core 2.0

I did not discover any existing SignalR sample.  Am I missing something?

Would a simple SignalR sample be a useful contribution?

[2017-09-20 13:35] dodyg commented on #74
That would be amazing.

[2017-09-25 17:11] dodyg commented on #71
Both projects are now on readme.

[2017-09-25 17:11] #71 closed

[2017-09-27 08:03] dodyg opened #75 "Considering F# option samples"
https://blogs.msdn.microsoft.com/dotnet/2017/09/26/build-a-web-service-with-f-and-net-core-2-0/

[2017-09-29 21:27] dodyg commented on #72
https://github.com/dodyg/practical-aspnetcore/tree/master/projects/aspnet-core-2/syndication

[2017-10-02 17:14] dodyg opened #76 "Add an example on how to customize Json options"

[2017-10-24 08:34] dodyg opened #80 "Mobile detection middleware"

[2017-10-24 08:34] dodyg commented on #80
https://github.com/wangkanai/Detection

[2017-10-24 14:44] dodyg opened #81 "Investigate IRouterService"
https://weblog.west-wind.com/posts/2017/Oct/22/NET-Core-20-and-ASPNET-20-Core-are-finally-here

[2017-11-01 12:48] dodyg commented on #81
https://github.com/aspnet/Routing/issues/367

[2017-11-01 12:48] #81 closed

[2017-11-01 12:55] dodyg opened #82 "Show examples on how to do tests"

[2017-11-01 13:28] jchannon opened #83 "Antiforgery and Cookie auth"
Could you setup a sample with Antiforgery and Cookie auth?

[2017-11-01 16:10] dodyg commented on #83
AntiForgery is here https://github.com/dodyg/practical-aspnetcore/tree/master/projects/aspnet-core-2/anti-forgery.

I'll work on the Cookie Auth tomorrow.

[2017-11-08 08:26] dodyg opened #84 "Owin hosting"
https://www.reddit.com/r/dotnet/comments/7bgk17/owin_vs_aspnetcorehosting/

[2017-11-09 07:59] dodyg opened #85 "Sample for Orchard Module"
https://github.com/OrchardCMS/OrchardCore/tree/dev/src/OrchardCore/OrchardCore.Modules

[2017-11-09 08:07] dodyg opened #86 "PO"
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/portable-object-localization

[2017-11-14 19:04] dodyg opened #87 "Explorer IOutputFormatter"

[2017-11-14 19:05] dodyg commented on #87
https://github.com/neuecc/Utf8Json

[2017-11-14 19:08] dodyg opened #88 "Explore ZeroFormatter"
https://github.com/neuecc/ZeroFormatter

Use it for serializing objects to redis

[2017-11-16 07:12] dodyg commented on #87
https://andrewlock.net/formatting-response-data-as-xml-or-json-based-on-the-url-in-asp-net-core/

[2017-11-16 08:22] dodyg opened #89 "Add PeachPie middleware"
https://github.com/peachpiecompiler/peachpie/wiki

[2017-11-17 16:38] dodyg opened #90 "IHostedService"
https://blogs.msdn.microsoft.com/webdev/2017/08/25/asp-net-core-2-0-features-1/

[2017-11-17 16:39] dodyg commented on #90
https://www.stevejgordon.co.uk/asp-net-core-2-ihostedservice

[2017-11-17 16:42] Tratcher commented on #90
https://github.com/aspnet/Docs/issues/3352

[2017-11-18 10:31] dodyg commented on #86
The code is here https://github.com/dodyg/practical-aspnetcore/tree/master/projects/aspnet-core-2/localization-5 but it's still not bloody working yet even in the simplest cases.

[2017-11-18 11:34] dodyg commented on #86
https://github.com/dodyg/practical-aspnetcore/tree/master/projects/localization-5

It works now!. I made a dumb mistake of not  checking the request culture.

[2017-11-23 08:36] dodyg commented on #90
Simple sample

https://github.com/dodyg/practical-aspnetcore/tree/master/projects/aspnet-core-2/ihosted-service

[2017-12-01 11:17] dodyg opened #91 "Try Giraffe"
https://github.com/dustinmoris/Giraffe#tasks

[2018-02-22 13:20] dodyg opened #92 "Start implementing examples from ASP.NET Core 2.1"

[2018-02-22 13:21] dodyg commented on #92
First ```IHttpClientFactory``` sample added
https://github.com/dodyg/practical-aspnetcore/tree/master/projects/aspnet-core-2-1/httpclientfactory

[2018-03-04 08:03] dodyg commented on #92
https://blogs.msdn.microsoft.com/webdev/2018/02/28/asp-net-core-2-1-preview1-introducing-httpclient-factory/

[2018-03-04 08:16] dodyg commented on #92
https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1.0-preview1.md

[2018-04-07 12:41] dodyg opened #93 "Generic controller"
https://www.strathweb.com/2018/04/generic-and-dynamically-generated-controllers-in-asp-net-core-mvc/

[2018-04-08 11:17] dodyg opened #94 "Parameter validation"
https://andrewlock.net/coming-in-asp-net-core-2-1-top-level-mvc-parameter-validation/

[2018-04-11 10:11] dodyg opened #95 "Webpack Middleware"
https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.builder.webpackdevmiddleware.usewebpackdevmiddleware?view=aspnetcore-2.0

[2018-04-11 12:06] dodyg opened #96 "UseSpaStaticFiles"
app.UseSpaStaticFiles();

[2018-04-11 12:09] dodyg opened #97 "Use browser link"
app.UseBrowserLink();

[2018-04-12 11:30] dodyg opened #98 "Deal with authorization"
One approach is this

https://github.com/matthewblott/simple_aspnet_auth

[2018-04-12 11:31] dodyg opened #99 "ASP.NET Core 2.1 Preview 2 Migration"
Start migrating samples to 2.1

[2018-04-13 07:48] dodyg commented on #99
https://blogs.msdn.microsoft.com/webdev/2018/04/12/asp-net-core-2-1-0-preview2-now-available/

[2018-04-15 04:32] dodyg commented on #99
https://koukia.ca/api-versioning-in-asp-net-core-2-0-1b55970aa29d

[2018-04-15 11:30] dodyg opened #100 "Anonymous Id"
https://www.nuget.org/packages/ReturnTrue.AspNetCore.Identity.Anonymous/1.1.0

[2018-04-15 15:24] dodyg opened #101 "Capture remove ip address"
https://stackoverflow.com/questions/28664686/how-do-i-get-client-ip-address-in-asp-net-core?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa

[2018-04-16 12:58] dodyg opened #102 "Enable CORS"
https://docs.microsoft.com/en-us/aspnet/core/security/cors?view=aspnetcore-2.1

[2018-04-17 23:39] dodyg opened #103 "Razor Pages"
Add section for Razor Pages

[2018-04-19 07:36] dodyg commented on #100
Implement https://github.com/dodyg/practical-aspnetcore/tree/master/projects/aspnet-core-2/anonymous-id

[2018-04-19 07:36] #100 closed

[2018-04-21 12:34] dodyg opened #104 "SignalR"
https://medium.com/@pielegacy/giving-the-valuescontroller-superpowers-with-signalr-core-7d4ff2be9e1c

[2018-04-30 15:03] dodyg opened #105 "Add Custom Route Constraint"

[2018-05-07 14:54] dodyg opened #106 "Using and generating JWT"
https://github.com/dodyg/practical-aspnetcore/tree/master/projects/mvc/jwt

[2018-05-07 15:16] dodyg commented on #106
Using JWT in Cookies

https://amanagrawal.blog/2017/09/18/jwt-token-authentication-with-cookies-in-asp-net-core/

[2018-05-07 15:17] dodyg commented on #106
Write middleware to process the JWT submitted via form

[2018-05-31 10:38] dodyg opened #107 "Investigate UseStatusCodePagesWithReExecute"

[2018-05-31 10:40] dodyg opened #108 "Create ASP.NET Core 2.1 branch"
Move all samples to Core 2.1

[2018-06-06 17:33] dodyg opened #109 "Hidden gems of 2.1"
https://twitter.com/davidfowl/status/1004232622845804544

[2018-06-28 07:36] dodyg opened #111 "Write example of ViewComponent workaround"
https://www.reddit.com/r/dotnet/comments/8u1xr0/viewcomponent_and_section_issue_2910_aspnetmvc/

[2018-06-28 13:03] dodyg opened #112 "HttpClientFactory usage"
https://github.com/aspnet/HttpClientFactory/wiki/Consumption-Patterns

[2018-07-08 20:15] dodyg opened #113 "Dig into MVC binders"
https://www.strathweb.com/2017/07/customizing-query-string-parameter-binding-in-asp-net-core-mvc/

[2018-07-16 16:17] dodyg opened #114 "Add more ways to handle culture"
https://joonasw.net/view/aspnet-core-localization-deep-dive

[2018-07-16 23:46] genifycom opened #115 "Using Razor without MVC"
Are there any samples of classes RazorProjectEngine and RazorProjectFileSystem to use a Razor engine in a console app without including MVC?

There is a 2.0 sample but 2.1 advises to use replacement classes and there seem to be no samples yet of how to use them.

Thanks

[2018-07-17 06:54] dodyg commented on #115
Let me dig around

[2018-07-17 09:01] dodyg opened #116 "Add more sample for middleware injection"
https://github.com/dotnet/corefx/issues/23604

[2018-07-18 15:22] dodyg commented on #115
https://scottsauber.com/2018/07/07/walkthrough-creating-an-html-email-template-with-razor-and-razor-class-libraries-and-rendering-it-from-a-net-standard-class-library/

[2018-07-19 14:24] dodyg opened #117 "Track this kestrel feature"
https://github.com/davidfowl/MultiProtocolAspNetCore

[2018-08-05 18:06] dodyg opened #118 "QueryHelper"
https://rehansaeed.com/asp-net-core-hidden-gem-queryhelpers/

[2018-08-14 06:49] fatagun opened #119 "Updated daily?"
Can you remove updated daily which is not true?

[2018-08-16 18:34] dodyg commented on #119
It's just marketing hyperbole. There are days where it is updated daily and there are stretches of days where I got nothing committed. It is still frequently updated. I just merged the 2.1 branch to master today - converting over 100 samples to 2.1.

[2018-08-18 09:16] dodyg commented on #118
https://github.com/dodyg/practical-aspnetcore/tree/master/projects/web-utilities-query-helpers

[2018-08-18 09:16] #118 closed

[2018-08-18 09:17] dodyg commented on #108
This is completed. Now master is all 2.1.

[2018-08-18 09:17] #108 closed

[2018-08-18 17:14] #119 closed

[2018-08-19 07:43] dodyg commented on #32
All are running on .NET Core 2.1 now.

[2018-08-19 07:43] #32 closed

[2018-08-19 07:50] dodyg commented on #14
RethinkDB is dead

[2018-08-19 07:50] #14 closed

[2018-08-19 07:51] dodyg commented on #20
This is so old and not a concern for most people.

[2018-08-19 07:51] #20 closed

[2018-08-19 08:01] dodyg opened #120 "Ratelimit middleware"
https://github.com/stefanprodan/AspNetCoreRateLimit

[2018-08-19 11:29] neman commented on #109
Hanselman got all this as blog post https://www.hanselman.com/blog/ASPNETCoreArchitectDavidFowlersHiddenGemsIn21.aspx

[2018-08-19 13:29] neman opened #123 "Dependency Injection - register multiple implementations of the same Interface"
In the DI section I found your comment
`Note: example 2 is forthcoming. The inspiration has not arrived yet.`

Is this good enough for an example? I can make an example and PR.

[2018-08-19 15:46] Tratcher commented on #123
Middleware can inject services in the constructor or in the Invoke method.
https://github.com/aspnet/HttpAbstractions/blob/07d115400e4f8c7a66ba239f230805f03a14ee3d/src/Microsoft.AspNetCore.Http.Abstractions/Extensions/UseMiddlewareExtensions.cs#L89-L110

[2018-08-19 18:13] dodyg commented on #123
Nice.

@Tratcher  https://github.com/dodyg/practical-aspnetcore/blob/master/projects/middleware-9/src/Program.cs shows construction injection service. It should be modified to show injection  at the Invoke method as well.

[2018-08-19 21:02] neman commented on #123
@Tratcher I know U can inject service in custom middleware Invoke method. I was pointing out to app.Run or app.Use If I’m going to use barebone Asp Net Core instead MVC, than I should try to avoid building custom middleware.

[2018-08-20 08:34] dodyg commented on #123
I modified `middleware-9` to demonstrate injection at `Invoke` as well (https://github.com/dodyg/practical-aspnetcore/commit/e852ef3bd385ab1a0b885ef2e39d12bb2b9bc875)

[2018-08-20 09:04] dodyg opened #124 "aspnet api versioning"
https://github.com/Microsoft/aspnet-api-versioning

[2018-08-20 14:30] dodyg opened #125 "Mailkit samples"
Mailkit is essentially the defactor mail client for .NET Core.

[2018-08-21 05:19] neman opened #127 "Consolidate logging examples"
I do not see why there is the existence of both https://github.com/dodyg/practical-aspnetcore/tree/master/projects/logging and https://github.com/dodyg/practical-aspnetcore/tree/master/projects/hello-world-with-logging

They are practically the same. I think that hello world with logging should be removed.

Also, https://github.com/dodyg/practical-aspnetcore/tree/master/projects/logging-with-filte

[2018-08-21 07:40] dodyg commented on #127
Those examples were created because 1.1 and 2.0 had different ways of doing logging. They ended up being the same once migrated to 2.1. I will remove them next week unless you want to do a PR.

Good idea on the folder grouping. Some samples such as middleware can be grouped.

[2018-08-21 07:50] neman commented on #127
You can assign me to this task and I will do the PR.

[2018-08-21 09:33] dodyg opened #128 "Accessing IHostingEnvironment from ConfigureServices"
This is not obvious for beginners.

[2018-08-25 09:17] dodyg opened #129 "Track 2.2"
https://twitter.com/khellang/status/1032746260757917696

[2018-08-28 09:06] dodyg opened #130 "System.Runtime.Loader ?"
https://github.com/dotnet/standard/blob/master/docs/planning/netstandard-2.1/README.md

[2018-08-31 16:02] dodyg opened #131 "KestrelServerOptions"
https://github.com/aspnet/MetaPackages/blob/rel/2.0.0-preview1/src/Microsoft.AspNetCore/WebHost.cs

[2018-09-01 09:54] dodyg commented on #116
Implement here https://github.com/dodyg/practical-aspnetcore/tree/master/projects/middleware-9

[2018-09-01 09:54] #116 closed

[2018-09-03 12:27] dodyg commented on #128
Implemented

[2018-09-03 12:27] #128 closed

[2018-09-11 10:24] dodyg opened #132 "Create RSS Output Formatter example"
https://github.com/dotnet/SyndicationFeedReaderWriter/issues/37

[2018-09-11 11:45] dodyg commented on #132
https://github.com/dodyg/practical-aspnetcore/tree/master/projects/mvc/output-formatter-syndication

[2018-09-13 09:43] dodyg opened #133 "Show more ways to use HttpClientFactory"
http://www.talkingdotnet.com/3-ways-to-use-httpclientfactory-in-asp-net-core-2-1/

[2018-09-18 09:41] dodyg commented on #113
https://weblog.west-wind.com/posts/2017/Sep/14/Accepting-Raw-Request-Body-Content-in-ASPNET-Core-API-Controllers

[2018-09-18 09:43] dodyg commented on #113
https://www.reddit.com/r/dotnet/comments/9gon5v/net_core_21_need_assistance_getting_started_with/

[2018-09-25 06:30] dodyg opened #134 "IHostedService example"
https://github.com/gcsuk/Achievements/pull/1/files

[2018-09-25 06:43] dodyg opened #135 "IActionConstraint"
https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/routing?view=aspnetcore-2.1

[2018-09-25 07:25] dodyg opened #136 "Sejil"
https://github.com/alaatm/Sejil#getting-started

[2018-09-25 07:28] dodyg opened #137 "Tusdotnet"
https://github.com/tusdotnet/tusdotnet

[2018-09-25 07:30] dodyg opened #138 "Mailbody"
https://github.com/doxakis/MailBody

[2018-10-08 22:37] dodyg opened #139 "Api attributes"
https://github.com/aspnet/Announcements/issues/307

[2018-10-18 07:46] dodyg commented on #135
https://github.com/dodyg/practical-aspnetcore/tree/master/projects/mvc/routing-10

[2018-10-20 12:43] dodyg opened #140 "IP Safelist"
https://docs.microsoft.com/en-us/aspnet/core/security/ip-safelist?view=aspnetcore-2.1

[2018-10-20 12:48] dodyg opened #141 "Generic Host"
- https://www.stevejgordon.co.uk/using-generic-host-in-dotnet-core-console-based-microservices
- https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/generic-host?view=aspnetcore-2.1

[2018-10-20 12:51] dodyg commented on #141
https://jmezach.github.io/2017/10/29/having-fun-with-the-.net-core-generic-host/

[2018-10-20 12:55] dodyg commented on #129
https://www.stevejgordon.co.uk/asp-net-core-first-look-at-global-routing-dispatcher

[2018-10-20 13:01] dodyg opened #142 "IResultActionExecutor"
https://kristian.hellang.com/using-mvc-result-executors-in-middleware/

[2018-10-20 13:02] dodyg opened #143 "Content Negotiation"
https://code-maze.com/content-negotiation-dotnet-core/

[2018-10-23 06:59] dodyg commented on #115
https://daveaglick.com/posts/the-bleeding-edge-of-razor

[2018-10-24 07:39] dodyg commented on #141
https://github.com/dodyg/practical-aspnetcore/tree/master/projects/generic-host

[2018-10-24 07:39] dodyg commented on #141
https://github.com/dodyg/practical-aspnetcore/tree/master/projects/generic-host-configure-host

[2018-10-25 07:26] dodyg opened #144 "SSE Middleware"
https://github.com/tpeczek/Lib.AspNetCore.ServerSentEvents

[2018-10-30 06:19] dodyg opened #145 "Open API Analyzers"
https://blogs.msdn.microsoft.com/webdev/2018/08/23/asp-net-core-2-20-preview1-open-api-analyzers-conventions/

[2018-11-01 15:03] dodyg opened #146 "JWT Token"
https://fullstackmark.com/post/19/jwt-authentication-flow-with-refresh-tokens-in-aspnet-core-web-api

[2018-11-04 09:23] dodyg opened #147 "ProblemDetails support"
https://blogs.msdn.microsoft.com/webdev/2018/09/12/asp-net-core-2-2-0-preview2-now-available/

[2018-11-05 06:05] dodyg opened #148 "Endpoint Routing"
https://blogs.msdn.microsoft.com/webdev/2018/08/27/asp-net-core-2-2-0-preview1-endpoint-routing/

[2018-11-08 11:18] dodyg opened #149 "Options Validation"
https://www.stevejgordon.co.uk/asp-net-core-2-2-options-validation

[2018-11-13 08:22] dodyg opened #150 "Health Check"
https://blog.elmah.io/asp-net-core-2-2-health-checks-explained/

[2018-11-17 12:22] dodyg opened #151 "IServer"
This is a neat little interface

https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.hosting.server.iserver?view=aspnetcore-2.1

[2018-11-17 13:14] dodyg commented on #151
https://reynders.co/use-iserver-from-aspnet-core-to-create-your-own-web-server/

[2018-11-19 09:37] dodyg commented on #151
https://github.com/dodyg/practical-aspnetcore/commit/acb75906aebbedad3db4ae74439c37501c9d4493

[2018-11-20 10:11] AdrienTorris opened #152 "Sample for splitting the area into different projects"
It could be great to have a sample to show how we can split the areas of a web app into different projects, something like this:
    Cms.Web (ASP.NET Core web app, contains no views and no controllers)
    Cms.Security (.NET Standard project, considered like the "Security" area of the Cms.Web web app)
    Cms.Admin (.NET Standard project, considered like the "Administration" area of the Cms.Web we

[2018-11-20 12:41] #151 closed

[2018-11-20 12:43] dodyg commented on #152
I remember OrchardCore CMS might be doing something like this.  Let me check on this this weekend.

[2018-11-20 13:08] AdrienTorris commented on #152
Ok. I'll check this and try to create a standalone version of a "distributed areas" sample.

[2018-11-20 14:22] AdrienTorris commented on #152
Interesting stuff about this:
   - https://stackoverflow.com/questions/41191364/is-areas-for-asp-net-core-the-same-as-portable-areas
   - https://docs.microsoft.com/en-us/aspnet/core/mvc/advanced/app-parts?view=aspnetcore-2.1

[2018-11-20 15:48] AdrienTorris commented on #152
A framework allows to do this: https://github.com/ExtCore

[2018-11-21 17:59] dodyg commented on #152
Nice find on Application Parts. I am gonna play with that one tomorrow.

[2018-11-22 07:27] dodyg opened #154 "Track Project Bedrock"
https://github.com/aspnet/KestrelHttpServer/issues/1980

[2018-11-22 09:38] AdrienTorris commented on #152
Have fun :) For me it's play with the Razor Class Libraries.

[2018-11-22 19:10] AdrienTorris commented on #152
The Razor Class Libraries are very interesting and for now it matches my needs, here a very first test: https://github.com/AdrienTorris/Entropy/tree/master/src/RazorClassLibrarySample

I could redo my RazorClassLibrarySample respecting your guidelines and submit it on this repository if you want.

[2018-11-24 10:17] dodyg commented on #152
This is awesome. That would be great.

There are only two important guidelines:

- Merge Startup.cs to Program.cs. This way people can see most of the code in a single page.
- Remove any extraneous files that are not relevant to the sample. This will reduce the amount of confusion people can have. Pretty much strip everything to the barest possible working example.

[2018-11-25 20:19] dodyg opened #155 "GetDisplayUrl"
This is a neat helper

https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.http.extensions.urihelper.getdisplayurl?view=aspnetcore-2.1

[2018-11-26 10:20] dodyg commented on #155
https://github.com/dodyg/practical-aspnetcore/commit/3bd62bfe1268068586bb8825e642d4c9597acc37

[2018-11-26 10:20] #155 closed

[2018-11-26 14:28] dodyg opened #156 "Test Server"
https://visualstudiomagazine.com/articles/2017/07/01/testserver.aspx

[2018-11-26 18:14] AdrienTorris commented on #152
Ok, I just created a Pull Request, let me know if you want that I change something in the samples I push, I'll do it with pleasure.

[2018-11-28 23:34] weedkiller opened #159 "Sample for user, role and groups management"
Hi can you add some smaple for users and roles please

Users in roles
Roles with users
mapping actions to roles

[2018-11-29 09:52] dodyg commented on #159
I will get to it. Yeah, identity is a whole huge section in ASP.NET Core and they sometimes can be very confusing.

[2018-11-29 10:49] AdrienTorris commented on #159
@dodyg I worked a lot with Identity on ASP.NET Core, tell me if you want I push some samples about this (I don't know if you prefer to do this on your own or if you want a lots of contributions to build the most complete repository possible about ASP.NET Core).

[2018-11-29 11:52] dodyg commented on #159
That is great. @AdrienTorris  go ahead. I want lots of contributions. The faster we can build the micro samples, the better it is for everybody.

I think we can reach 300 - 400 samples and still won't cover the surface API and functionality of ASP.NET Core and associated techs.

[2018-11-29 19:15] AdrienTorris commented on #159
It's coming ... ;) (it will be done maybe tomorrow, this week-end at the latest)
![identity-sample-is-coming](https://user-images.githubusercontent.com/1014357/49245662-51e02480-f413-11e8-8aee-43f21479f8da.png)

[2018-11-29 19:20] AdrienTorris commented on #159
@dodyg How do you want to organize the projects folder?

* projects/identity/basic-authentication
* projects/security/authentication-with-identity
* projects/security/basic-authentication-with-identity
* projects/security/basic-authentication-with-identity-and-sqlite (I'm using SQLite to store the users because it can be stored as a dll by the web app so the sample can be a self-contained project

[2018-11-30 09:04] dodyg commented on #159
Let's just put everything under the folder /security, then we can put identity, authentication, authorization, etc under that folder. It's such a critical topic and it deserves its own section.

[2018-11-30 17:19] weedkiller commented on #159
Yes please put it in one project, this would be a great starter project template

[2018-11-30 19:30] Kralizek commented on #159
@dodyg do you want only strict asp.net core codebase samples or do you accept related libraries?

I was thinking about building on top of @AdrienTorris work a sample using AWS Cognito identity provider

[2018-12-01 11:58] dodyg commented on #159
@Kralizek related libraries are fine. I have created nswag, orchardcore, etc samples. Just please add an extensive description on the readme of the project.

[2018-12-01 12:01] dodyg commented on #159
I am in two minds about starter project template. Security is such a fragile thing: it's super easy to mess up security if you don't know understand whats' going on. I rather we go for increasing people's understanding and mastery than convenience. If one of the sample becomes a starting point, then great but it shouldn't be the goal.

[2018-12-04 07:19] dodyg commented on #113
https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.modelbinding.modelmetadata?view=aspnetcore-2.1

[2018-12-05 14:12] AdrienTorris commented on #159
If you want a great and complete starter project (with external signins, password recovery, ...) you have just to create a new ASP.NET Core web application with authentication, all will be created for you (@dodyg using a Razor Class Library if you choose .NET Core 2.2 by the way ;) )

[2018-12-06 07:39] dodyg commented on #159
Oh neat. I gotta try that.

[2018-12-06 08:12] dodyg opened #161 "Using a ViewComponent and Controller (for ajax use) in a RCL"
https://github.com/aspnet/Docs/issues/9741 by https://twitter.com/LogDateTime/status/1070588065259970560

[2018-12-06 08:14] dodyg opened #162 "Microsoft.Extensions.Caching.StackExchangeRedis announcement"
https://github.com/aspnet/Announcements/issues/322

[2018-12-06 11:02] dodyg commented on #159
One neat sample would be showing people a straightforward away to implement granular ACL.

[2018-12-07 13:44] AdrienTorris commented on #159
a granular ACL?

[2018-12-08 10:14] dodyg commented on #159
Access Control List. Sometimes there are systems that require a pretty granular access control e.g

Manager A:

- Allow to edit this page
- But not add
- View is allows
- But not delete

Manager B:

- View only

So each user role has a list of checkboxes that show what kind of access it has.

[2018-12-08 12:12] AdrienTorris commented on #159
Ok, let's do that!

[2018-12-08 12:40] AdrienTorris commented on #159
Another sample that would be great is to custom Identity to integrate an Organization layer (allow to have several organizations in the same Identity service). We often have to do this by our own. I could do it too, but roles and policies first ;)

[2018-12-08 15:47] akaylh opened #163 ".net core 2.2 Runtime Events"
About EventListener.

[2018-12-11 14:12] AdrienTorris commented on #159
@dodyg Because I don't want you to sleep at night: https://techcrunch.com/2018/12/10/google-security-bug-gave-developers-access-to-non-public-data-from-52-5m-users/

[2018-12-12 08:40] dodyg commented on #159
@AdrienTorris Lol. This security thing is a nightmare.

[2018-12-12 09:27] AdrienTorris opened #165 "[Question] Plans for .NET Core 3?"
Hi @dodyg

What are your plans for .NET Core 3? Do you want to update the existing samples from .NET 2.2 to .NET 3 or you prefer re-implement them? If you prefer re-implement them, how do you want to organize the samples? A folder"3-0" under the 'projects' folder?

I start for a few days to play with .NET Core 3, I can start to post some samples but I prefer have your guidelines first.

[2018-12-12 09:31] AdrienTorris commented on #165
For information, I did some basic samples on .NET Core 3 and there is no difference with .NET Core 2.2 for now, except for the WPF stuff of course. But they are very basic, some differences may appears with more advanced samples.

[2018-12-12 09:35] neman commented on #165
The best would be to have separate branch while 3.0 is in preview. I think there is no bred to reimplement, just update is enough.
Let’s see @dodyg idea about this.

[2018-12-12 09:59] SherifRefaat opened #166 "Create a sample that show the minimal setup of Dotnetify + ReactJs + Typescript"

[2018-12-12 10:23] dodyg commented on #165
For 3.0 only samples:

- Create 3-0 folder
- Put a global.json there
- Put all your ASP .NET Core 3.0 specific samples in that folder

2.1 is an LTS release. Existing samples that's in 2.1 should stay there as long as possible. If your sample doesn't require 2.2 or higher, keep them in 2.1.

We will have to revisit this topic in 6 months when ASP.NET Core 3.0 solidifies. We might need to branch at

[2018-12-12 10:31] AdrienTorris commented on #165
Ok. Si if there is no difference between .NET Core 3.0 (preview) and .NET Core 2.2, I do not post any sample. It's clear, thanks.

[2018-12-14 10:50] dodyg opened #168 "Razor Components"
https://codedaze.io/introduction-to-server-side-blazor-aka-razor-components/

This is shipping on ASP.NET Core 3.0

[2018-12-16 08:38] dodyg opened #169 "IMiddleware"
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/middleware/extensibility?view=aspnetcore-2.1

[2018-12-16 08:42] dodyg commented on #168
Just another note on component interaction

https://visualstudiomagazine.com/articles/2018/11/01/architecting-blazor.aspx

[2018-12-18 15:37] dodyg commented on #98
https://coderscoffeehouse.com/tech/2018/07/30/simple-aspnet-auth-update.html

[2018-12-18 15:37] dodyg commented on #98
https://docs.microsoft.com/en-us/aspnet/core/security/authorization/resourcebased?view=aspnetcore-2.2

[2018-12-19 12:59] dodyg opened #170 "Web Optimizer"
https://github.com/ligershark/WebOptimizer

[2018-12-19 13:50] dodyg opened #171 "Cache Busting"
https://www.constructcode.com/post/cache-busting-in-asp-net-core

[2018-12-20 06:54] dodyg commented on #171
https://github.com/dodyg/practical-aspnetcore/tree/master/projects/mvc/tag-helper-link

[2018-12-20 06:54] #171 closed

[2018-12-20 15:54] dodyg opened #172 "Page error handling"
Better samples for ASP.NET MVC Core

http://www.binaryintellect.net/articles/17841890-a0a2-4094-aabe-1ae85641609c.aspx

[2018-12-20 15:56] dodyg commented on #172
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/error-handling?view=aspnetcore-2.2

[2018-12-22 09:46] dodyg commented on #169
https://github.com/dodyg/practical-aspnetcore/tree/master/projects/middleware-11

[2018-12-22 09:46] #169 closed

[2018-12-22 14:53] dodyg commented on #25
https://andrewlock.net/exploring-the-asp-net-core-identity-passwordhasher/

[2018-12-26 08:09] #166 closed

[2018-12-26 15:36] dodyg commented on #25
Pretty much the class passed as the generic does not matter. The interface requires it. It could be useful for other implementation but not for PasswordHasher.

[2018-12-26 15:36] #25 closed

[2018-12-28 15:57] dodyg commented on #150
There are a bunch of samples here https://github.com/dodyg/practical-aspnetcore/tree/master/projects/2-2

[2018-12-28 15:57] #150 closed

[2018-12-30 09:53] dodyg opened #175 "TempData cycle"
https://hassantariqblog.wordpress.com/2016/09/02/mvc-when-to-use-keep-vs-peek-in-asp-net-mvc/

[2018-12-30 11:52] dodyg commented on #125
Awesome.

Please:
1. Reduce it to the simplest possible working sample
2. Put everything in Program.cs when possible.
3. Write a README.md

[2018-12-31 09:00] dodyg commented on #162
https://github.com/dodyg/practical-aspnetcore/tree/master/projects/2-2/new-redis-caching-package

[2018-12-31 09:00] #162 closed

[2018-12-31 09:03] dodyg commented on #165
https://github.com/aspnet/Announcements/issues/331

[2018-12-31 09:04] dodyg commented on #165
https://github.com/aspnet/Announcements/issues/325

[2019-01-06 07:57] dodyg commented on #85
It's time to get serious about Orchard Core Module. It looks like a very promising framework to modularize your web app.

[2019-01-06 08:14] dodyg commented on #85
https://github.com/rtl-nl/MultiTenantApp

[2019-01-06 09:30] dodyg opened #177 "Custom TagHelper order"
Add more example about TagHelper about conflicting TagHelper

https://docs.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/authoring?view=aspnetcore-2.2

[2019-01-09 13:53] dodyg commented on #163
https://stebet.net/monitoring-gc-and-memory-allocations-with-net-core-2-2-and-application-insights/

[2019-01-10 07:34] dodyg commented on #165
https://www.strathweb.com/2019/01/collectible-assemblies-in-net-core-3-0/

[2019-01-14 14:23] dodyg opened #178 "Web API convention"
https://github.com/aspnet/Docs/blob/master/aspnetcore/web-api/advanced/conventions.md

[2019-01-16 19:38] dodyg commented on #165
https://www.telerik.com/blogs/razor-components-for-a-javascript-free-frontend-in-2019

[2019-01-16 19:43] dodyg commented on #98
https://medium.com/agilix/asp-net-core-supporting-multiple-authorization-6502eb79f934

[2019-01-16 19:45] dodyg commented on #21
https://andrewlock.net/using-routing-datatokens-in-asp-net-core/

[2019-01-16 19:47] dodyg commented on #98
https://joonasw.net/view/apply-authz-by-default

[2019-01-17 10:43] dodyg commented on #98
https://msdn.microsoft.com/en-us/magazine/mt826337.aspx?f=255&MSPPError=-2147217396

[2019-02-06 02:03] dodyg commented on #165
A new section for 3.0 is here https://github.com/dodyg/practical-aspnetcore/tree/master/projects/3-0

[2019-02-17 08:08] dodyg opened #179 "View Component"
https://twitter.com/LogDateTime/status/1096030763475189760

[2019-02-20 08:38] dodyg commented on #168
https://github.com/dodyg/practical-aspnetcore/tree/master/projects/3-0/razor-component/hello-world

[2019-04-08 09:18] dodyg opened #180 "Reorganizing the samples"
I am reorganizing the samples because now we are tracking 2.1, 2.2 and 3.0.

2.1 is LTS so it's important to keep majority of the samples at that version.

The readme is getting bigger and unwieldy. It needs to be rewritten so it is easier for beginner to navigate.

[2019-04-11 10:50] dodyg opened #181 "Lowercase URL in .NET Core 2.1"
https://stackoverflow.com/questions/40334515/automatically-generate-lowercase-dashed-routes-in-asp-net-core

[2019-04-11 10:51] dodyg opened #182 "DefaultHtmlGenerator"
https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.viewfeatures.defaulthtmlgenerator?view=aspnetcore-2.2

[2019-04-27 13:23] dodyg opened #183 "UseEndpoints"
https://github.com/aspnet/AspNetCore/tree/258d34e3828a1870a16d13cd3c62d1b7a65acc4a/src/Mvc/test/WebSites

[2019-04-27 13:24] dodyg commented on #183
https://github.com/aspnet/AspNetCore/blob/658b37d2bd3b0da2c07e25b53fa5c97ce8d656d3/src/Http/Routing/test/testassets/RoutingWebSite/UseEndpointRoutingStartup.cs

[2019-04-27 14:29] dodyg opened #184 "MapMiddlewareGet or xxx"
https://stackoverflow.com/questions/51955806/asp-net-core-route-specific-middleware

[2019-04-27 14:49] dodyg commented on #184
https://www.devtrends.co.uk/blog/conditional-middleware-based-on-request-in-asp.net-core

[2019-04-27 14:59] dodyg opened #185 "Create UseWhen sample"
and contrast with MapWhen

[2019-04-27 15:00] dodyg commented on #185
https://www.devtrends.co.uk/blog/conditional-middleware-based-on-request-in-asp.net-core

[2019-05-11 11:12] dodyg commented on #185
https://github.com/dodyg/practical-aspnetcore/tree/master/projects/middleware-12

[2019-05-11 11:12] #185 closed

[2019-05-23 21:39] dodyg commented on #51
https://stackoverflow.com/questions/45330103/access-tempdata-within-custom-middleware

[2019-05-23 21:59] dodyg commented on #183
https://github.com/dotnet-presentations/aspnetcore-app-workshop/commit/7715b4f92a99c25a638d1371976c5e7b413f8851#diff-dab0890579b5e0af750a2604d7b33778

[2019-05-23 22:22] Tratcher commented on #51
Temp data? Goss.
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/app-state?view=aspnetcore-2.2

[2019-05-26 11:01] dodyg commented on #51
I just stumbled on the topic. Not sure why one would use Temp data for passing data from the Middleware when HttpContext.Items is available, but it's doable apparently..

[2019-06-13 16:06] dodyg opened #186 "Update to ASP.NET Core Preview 6"
Tomorrow (Friday)

[2019-06-22 11:09] dodyg commented on #186
Done

[2019-06-22 11:09] #186 closed

[2019-06-22 11:10] #183 closed

[2019-06-22 11:10] #148 closed

[2019-06-22 11:11] #129 closed

[2019-06-22 11:12] #33 closed

[2019-06-22 11:14] dodyg commented on #182
https://github.com/dodyg/practical-aspnetcore/tree/master/projects/razor-pages/custom-html-generator

[2019-06-22 11:14] #182 closed

[2019-06-22 11:14] #184 closed

[2019-06-22 11:16] #180 closed

[2019-06-22 11:16] #168 closed

[2019-06-22 11:17] #69 closed

[2019-06-22 11:17] #65 closed

[2019-06-22 11:19] dodyg opened #187 "Helper functions at Microsoft.AspNetCore.Http.Extensions"

[2019-06-22 11:26] dodyg opened #188 "QueryHelpers.ParseQuery example"

[2019-06-26 20:42] dodyg commented on #188
Done

[2019-06-26 20:42] #188 closed

[2019-06-26 20:42] dodyg opened #189 "Investigate MatcherPolicy"
https://github.com/aspnet/AspNetCore/commit/90511e60390b5aa74669d8b4f812a82a622a0feb

[2019-06-26 20:44] dodyg commented on #189
https://github.com/aspnet/AspNetCore/tree/master/src/Http/Routing/src/Matching

[2019-06-30 10:56] dodyg opened #190 "Explorer for HTTP Features"
https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.http.features.ihttpmaxrequestbodysizefeature?view=aspnetcore-2.2

[2019-06-30 11:19] dodyg commented on #190
https://github.com/dodyg/practical-aspnetcore/tree/master/projects/features-max-request-body-size

[2019-07-07 08:52] dodyg opened #191 "Reason Phrase"
https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.webutilities.reasonphrases.getreasonphrase?view=aspnetcore-2.2

[2019-07-08 06:52] dodyg commented on #191
There's already a sample create for this. https://github.com/dodyg/practical-aspnetcore/tree/master/projects/web-utilities-reason-phrases

[2019-07-08 06:53] #191 closed

[2019-07-08 06:54] dodyg opened #192 "Create sample for web encoders"
https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.webutilities.webencoders?view=aspnetcore-2.2

[2019-07-10 12:22] dodyg opened #193 "Show sample on how to use AcceptLanguageHeaderRequestCultureProvider() for your API"

[2019-07-10 14:15] dodyg opened #194 "Show example of trailing header in aspnetcore 3"

[2019-07-11 06:57] dodyg opened #196 "Version info"
https://github.com/richlander/testapps/blob/master/versioninfo/Program.cs

[2019-07-11 07:28] Kralizek commented on #196
could you add a sample of the output as a comment at the end of the file? Like Microsoft does in their documention

[2019-07-11 08:31] dodyg opened #197 "Routing in the small"
This looks super interesting. I am gonna try it out and see how it works.

https://gist.github.com/rynowak/4d4738a57fb482952056ca67573f1d50

[2019-07-11 08:34] dodyg commented on #196
Can you please provide a link on how it looks like when Microsoft does it? I am not familiar with it.

[2019-07-11 08:50] dodyg opened #198 "Headers names"
https://docs.microsoft.com/en-us/dotnet/api/microsoft.net.http.headers.headernames?view=aspnetcore-2.2

[2019-07-11 08:51] dodyg opened #199 "Explore HeaderUtilities"
https://docs.microsoft.com/en-us/dotnet/api/microsoft.net.http.headers.headerutilities?view=aspnetcore-2.2

[2019-07-11 08:58] dodyg commented on #194
https://github.com/aspnet/AspNetCore/issues/10519

[2019-07-11 09:30] dodyg commented on #198
https://github.com/dodyg/practical-aspnetcore/tree/master/projects/hello-world-startup-basic-request-headers-names

[2019-07-11 09:30] #198 closed

[2019-07-11 10:13] dodyg opened #200 "Explore MediaTypeNames"
https://docs.microsoft.com/en-us/dotnet/api/system.net.mime.mediatypenames?view=netstandard-2.1

[2019-07-11 10:14] dodyg opened #201 "Encoding.WebName"
https://docs.microsoft.com/en-us/dotnet/api/system.text.encoding.webname?view=netframework-4.8

[2019-07-11 20:47] Kralizek commented on #196
This is the first place that came to my mind

https://docs.microsoft.com/en-us/dotnet/standard/base-types/standard-date-and-time-format-strings

[2019-07-15 08:23] dodyg commented on #197
This is actually not working. You can't attach attribute on local function.

[2019-07-15 08:31] #197 closed

[2019-07-15 08:46] Kralizek commented on #197
That would have been way too dirty! :D

[2019-07-17 06:56] dodyg commented on #200
https://github.com/dodyg/practical-aspnetcore/tree/master/projects/media-type-names

[2019-07-17 06:56] #200 closed

[2019-07-17 06:56] dodyg commented on #193
https://github.com/dodyg/practical-aspnetcore/tree/master/projects/mvc/mvc-localization-8

[2019-07-17 06:56] #193 closed

[2019-07-17 07:00] dodyg opened #202 "Explore FileExtensionContentTypeProvider"
https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.staticfiles.fileextensioncontenttypeprovider?view=aspnetcore-2.2

[2019-07-18 07:30] dodyg commented on #202
https://github.com/dodyg/practical-aspnetcore/tree/master/projects/media-type-names-2

[2019-07-28 11:13] dodyg commented on #80
Update the sample to the latest version

[2019-07-28 11:27] dodyg opened #203 "Breaking changes in ASP.NET Core 3 'Features'"
https://github.com/aspnet/AspNetCore/issues/12635

[2019-07-30 05:53] dodyg opened #204 "Write more about parameter passing behavior in Blazor component"

[2019-07-30 06:00] dodyg commented on #204
Also @typeparam

[2019-08-03 09:41] dodyg commented on #124
https://www.nuget.org/packages/Microsoft.AspNetCore.Mvc.Versioning

[2019-08-13 09:17] dodyg commented on #196
https://github.com/dodyg/practical-aspnetcore/tree/master/projects/3-0/version

[2019-08-13 09:17] #196 closed

[2019-08-29 06:13] dodyg commented on #194
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Trailer

[2019-08-29 07:24] dodyg opened #205 "MVC Results"
This is a thorough explanation of the myriads Action Results in ASP.NET MVC

http://hamidmosalla.com/2017/03/29/asp-net-core-action-results-explained/

[2019-08-29 13:46] Tratcher commented on #194
Here's an example of response trailers:
https://github.com/aspnet/AspNetCore/blob/806fef3a278c01f55ffd98a539ea6bd8ceeabf48/src/Servers/Kestrel/samples/Http2SampleApp/TimingMiddleware.cs

[2019-09-11 18:30] #203 closed

[2019-09-13 16:08] dodyg commented on #194
https://github.com/dodyg/practical-aspnetcore/tree/master/projects/3-0/trailing-headers

[2019-09-13 16:08] #194 closed

[2019-09-22 13:45] #165 closed

[2019-09-24 10:45] dodyg opened #207 "Dive into Pipelines"
https://devblogs.microsoft.com/dotnet/system-io-pipelines-high-performance-io-in-net/

[2019-09-29 08:56] dodyg opened #208 "Dive into identity in ASP.NET Core 3."
Now that we have enough samples for the basics of ASP.NET Core 3, it's time to deal with the identity beast.

[2019-09-30 07:01] dodyg commented on #154
https://github.com/aspnet/AspNetCore/issues/10308

https://github.com/aspnet/AspNetCore/pull/10321

[2019-10-03 14:48] dodyg opened #209 "Add sample for file upload for Blazor"

[2019-10-14 13:15] dodyg opened #210 "Timespan Converter for JsonSerializer"

[2019-11-04 22:00] alexsandro-xpt commented on #207
More about Pilpelines to read Response.Body in asp net core 3.

@dodyg take a look about https://www.stevejgordon.co.uk/using-the-bodyreader-and-bodywriter-in-asp-net-core-3-0

I guess it is really interesting how to read `Responde.Body` in this new version.

[2019-11-10 11:25] dodyg commented on #210
https://github.com/dodyg/practical-aspnetcore/tree/master/projects/3-0/json-9

[2019-11-10 11:25] #210 closed

[2019-11-10 12:01] dodyg commented on #154
https://github.com/davidfowl/BedrockTransports

[2019-11-20 14:27] dodyg commented on #24
https://github.com/aspnet/Extensions/tree/master/src/ObjectPool/src

[2019-12-25 11:05] dodyg opened #211 "CustomRequestCultureProvider"
Write a sample implementation of CustomRequestCultureProvider

[2019-12-25 11:32] dodyg commented on #114
Check out RequestCultureProvider

[2019-12-25 11:51] dodyg opened #212 "RouteDataRequestCultureProvider"
This looks interesting.

https://github.com/aspnet/AspNetCore/tree/master/src/Middleware/Localization.Routing/test

[2019-12-30 07:11] weedkiller commented on #159
Also being able to separate users under the same role, has access to limited/ different groups

For eg East coast managers vs West coast managers ... Each budgets data should be only available to each of their areas, and what's the best way to handle that.

Would that be claims or groups

[2019-12-30 13:16] jannikbuschke commented on #159
@weedkiller I think thats neither claims nor groups. In microsoft terms this would be called Resource Based Access Control (RBAC), where authorization is not only determined by facts about the user (claims/group membership) but also the resource/object being accessed.

[2019-12-31 03:37] weedkiller commented on #159
Helllo @jannikbuschke thanks for the response, you are correct I am looking for a sample to managed the user specifc resource, I thought it was a claim.

I looked for a sample, but RBAC is actually `Role `Based Access Control, [MS website](https://devblogs.microsoft.com/premier-developer/role-based-access-control-in-asp-net-mvc/)

Any chance we can still get a sample to show how manages those grou

[2019-12-31 09:21] jannikbuschke commented on #159
Here is a bit of dotnet documentation about Resource Based Authorization: https://docs.microsoft.com/en-us/aspnet/core/security/authorization/resourcebased?view=aspnetcore-3.1

To filter data in EF Core query filters can be utilized: https://docs.microsoft.com/en-us/ef/core/querying/filters (this could be handy to implement Reads with RBAC)

[2020-01-03 14:47] dodyg commented on #159
@weedkiller  this is a good library to use for RBAC https://github.com/casbin/Casbin.NET. I haven't had a chance to implement a sample for this but it's on my todo list.

[2020-02-18 14:24] dodyg opened #214 "Show NWebSec sample"
https://www.nuget.org/packages/NWebsec.AspNetCore.Middleware/

[2020-02-19 02:34] dodyg opened #215 "UseHostFiltering sample"
https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.builder.hostfilteringbuilderextensions.usehostfiltering?view=aspnetcore-3.1

[2020-03-01 23:11] dodyg opened #216 "LinkParser.ParsePathByEndpointName."
https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.routing.linkparserendpointnameaddressextensions.parsepathbyendpointname?view=aspnetcore-3.1

[2020-03-01 23:12] dodyg opened #217 "Investigate DynamicRouteValuesTransformer"

[2020-03-03 01:19] dodyg opened #218 "Component DI Scoped in Blazor"
https://docs.microsoft.com/en-us/aspnet/core/blazor/dependency-injection?view=aspnetcore-3.1#utility-base-component-classes-to-manage-a-di-scope

[2020-03-19 09:59] dodyg opened #219 "Try WebView"
https://blog.stevensanderson.com/2019/11/18/2019-11-18-webwindow-a-cross-platform-webview-for-dotnet-core/

[2020-04-07 01:28] dodyg opened #220 "Sample on how to implement filter from middleware"

[2020-04-17 21:11] #159 closed

[2020-04-30 08:14] dodyg opened #221 "Security headers samples"
Write samples for security headers

https://github.com/andrewlock/NetEscapades.AspNetCore.SecurityHeaders

[2020-05-02 14:14] #29 closed

[2020-05-03 07:20] dodyg opened #222 "Add sample for RouteOptions"

[2020-05-07 05:22] AlexisAuriac opened #223 "3.0/new-routing-8 fails to compile because the Static folder is missing"
When I tried to compile 3.0/new-routing-8 it failed with an error about the Static folder being missing.
Renaming the static folder to Static fixed it.

[2020-05-07 07:39] dodyg commented on #223
Can you please elaborate because I can't replicate the problem on both versions.

https://github.com/dodyg/practical-aspnetcore/tree/master/projects/3-0/new-routing-8
![old-routing](https://user-images.githubusercontent.com/1761249/81267272-7c8dce00-9046-11ea-8919-513f6096dbbf.png)

https://github.com/dodyg/practical-aspnetcore/tree/3.1-LTS/projects/endpoint-routing/new-routing-8
![3-new-routing-8

[2020-05-07 12:32] AlexisAuriac commented on #223
When I try to run ```dotnet run``` on new-routing-8 (both versions) I get this exception:
[code]
After renaming the ```static/``` folder to ```Static/``` it works correctly.
![error_new-routing-8](https://user-images.githubusercontent.com/39840011/81294558-5cbed000-906f-11ea-97b2-cd0901c1036e.png)

[2020-05-07 13:00] dodyg commented on #223
Ah got it. It's the case sensitive name path in Linux. Thanks. I'll fix that.

[2020-05-07 13:05] dodyg commented on #223
https://github.com/dodyg/practical-aspnetcore/commit/38b426ce8299b26d778ec6b1892bd259a8182bc3

https://github.com/dodyg/practical-aspnetcore/commit/ddd70da3d5f6b3a43864e4afeea207b6d53a0980

[2020-05-07 13:05] #223 closed

[2020-05-09 12:46] dodyg opened #224 "Add samples for System.CommandLine"
https://www.nuget.org/packages/System.CommandLine

[2020-05-16 17:01] weedkiller opened #227 "Add Sample for Multi-tenancy & ASP Identity Option"
Hello, as SAAS platforms are more proliferate now, we need to be able to build multi tenant options easier templatized way with ASP Identity, Roles/Claims.

[2020-05-17 12:17] dodyg commented on #227
We should expand upon the Orchard Core framework facilities.

https://github.com/dodyg/practical-aspnetcore/tree/3.1-LTS/projects/orchard-core

[2020-05-19 16:04] dodyg opened #228 "Add samples for .NET 5"
https://devblogs.microsoft.com/dotnet/announcing-net-5-preview-4-and-our-journey-to-one-net/

[2020-05-19 16:05] dodyg commented on #228
This will mostly related to https://github.com/dodyg/practical-aspnetcore/tree/3.1-LTS/projects/json

[2020-05-20 06:20] ehsansajjad-synergy commented on #228
@dodyg  did you mean : https://github.com/dodyg/practical-aspnetcore/tree/3.1-LTS/projects/5-0

[2020-05-20 07:45] dodyg commented on #228
Yes but most of the practical implication so far is with enhancement to ```System.Text.Json```

[2020-05-20 09:04] dodyg commented on #228
I migrated 9 JSON samples to .NET 5 https://github.com/dodyg/practical-aspnetcore/tree/3.1-LTS/projects/5-0

[2020-05-21 11:28] dodyg commented on #224
https://github.com/dodyg/practical-aspnetcore/tree/3.1-LTS/projects/command-line/command-line-1

[2020-05-21 17:38] weedkiller commented on #227
Do you also show how to build plug-ins or add your own business entities into orchard. I always considered orchard to be good, but steep learning curve, kinda fuzzy on how to build anything on it.

[2020-05-24 09:29] dodyg commented on #227
It's gotten better now but yeah the documentation on this still needs improvement. It's an amazing framework.

[2020-05-26 09:22] dodyg commented on #211
https://github.com/dodyg/practical-aspnetcore/tree/3.1-LTS/projects/mvc/localization/mvc-localization-10

[2020-05-26 09:22] #211 closed

[2020-05-26 17:44] dodyg opened #229 "Create samples on how to manipulate head tag in Blazor"
This is such a basic thing that is not available in Blazor out of the box

https://www.nuget.org/packages/Toolbelt.Blazor.HeadElement/

[2020-05-26 17:45] dodyg commented on #229
Also create sample to demonstrate switch RTL and LTR

[2020-05-26 17:45] dodyg opened #230 "Create sample for localization in Blazor Server"

[2020-05-26 18:36] dodyg opened #231 "Add samples for CascadeParameter"
This thing is a bit confusing. I have to figure it out first.

[2020-05-26 18:48] dodyg opened #232 "Add another sample for data bind using bind:event"

[2020-05-28 11:28] dodyg commented on #227
A new article on Orchard Core framework

https://bearandhammer.net/2020/05/16/poking-around-with-orchard-core/

[2020-05-29 22:24] dodyg opened #233 "FormUrlEncodedContent"

[2020-06-01 11:44] dodyg commented on #233
https://github.com/dodyg/practical-aspnetcore/tree/3.1-LTS/projects/request/form-url-encoded-content

[2020-06-01 11:44] #233 closed, assigned to nobody

[2020-06-11 09:35] dodyg commented on #230
https://github.com/dodyg/practical-aspnetcore/tree/3.1-LTS/projects/blazor-ss/Localization

[2020-06-11 09:35] dodyg commented on #230
https://github.com/dodyg/practical-aspnetcore/tree/3.1-LTS/projects/blazor-ss/Localization-2

[2020-06-11 09:35] dodyg commented on #230
https://github.com/dodyg/practical-aspnetcore/tree/3.1-LTS/projects/blazor-ss/Localization-3

[2020-07-14 07:11] dodyg opened #234 "C# 9 Source Generators"
Write samples for this. It's not ASP.NET Core specific but I think it can be very useful in day to day web development.

https://devblogs.microsoft.com/dotnet/introducing-c-source-generators/

[2020-08-07 16:49] dodyg opened #238 "Blazor multiple _host"
https://github.com/dotnet/aspnetcore/issues/19744

[2020-08-07 16:50] dodyg commented on #238
https://blazorforums.net/topic/12/setting-up-blazor-in-an-area

[2020-09-24 12:24] dodyg commented on #231
https://github.com/dodyg/practical-aspnetcore/tree/3.1-LTS/projects/blazor/ComponentSeventeen
https://github.com/dodyg/practical-aspnetcore/tree/3.1-LTS/projects/blazor/ComponentSixteen

[2020-09-24 12:24] #231 closed, assigned to nobody

[2020-09-24 12:24] #230 closed, assigned to nobody

[2020-09-24 12:25] #224 closed, assigned to nobody

[2020-09-24 12:26] dodyg opened #242 "Add a sample about static file provider handling files from a different folder"

[2020-10-30 11:54] dodyg opened #248 "Lazy<T> for Microsoft DI"
https://www.reddit.com/r/dotnet/comments/jg1gcs/what_would_be_the_reasons_to_use_an_ioc_framework/g9pktys/

[2020-11-16 09:08] dodyg opened #249 "Add RenderTreeBuilder samples"

[2020-12-10 08:11] dodyg opened #250 "Add samples for Bebop"
https://rainway.com/blog/2020/12/09/bebop-an-efficient-schema-based-binary-serialization-format/

[2020-12-19 10:12] dodyg commented on #242
https://github.com/dodyg/practical-aspnetcore/commit/59be7bdfedb75751cc6dac0f36e15a0ba532c4b8

[2020-12-19 10:12] #242 closed, assigned to nobody

[2020-12-19 10:29] dodyg opened #251 "Add sample about allowing anonymous access to endpoint"
https://docs.microsoft.com/en-us/aspnet/core/release-notes/aspnetcore-5.0?view=aspnetcore-5.0#allow-anonymous-access-to-an-endpoint

[2021-01-14 08:27] dodyg commented on #251
https://github.com/dodyg/practical-aspnetcore/commit/f7c11995da6868b5f96d42125c8ad1d5ad8f852f

[2021-01-14 08:27] #251 closed, assigned to nobody

[2021-01-27 14:56] dodyg opened #255 "Investigate AddController options"
e.g.
[code]

[2021-01-27 14:59] dodyg opened #256 "Investigate AuthorizationHandler"
https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.authorization.authorizationhandler-1?view=aspnetcore-5.0

[2021-02-01 08:09] dodyg opened #257 "Create PathString samples"
https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.http.pathstring?view=aspnetcore-5.0

[2021-02-01 09:56] dodyg opened #258 "Blazor radio button support"
https://gist.github.com/SQL-MisterMagoo/bc5713fb26bf84bf810d48d1f45c361a#gistcomment-3593887

[2021-02-04 07:43] dodyg opened #259 "Apache Arrow"
https://www.nuget.org/packages/Apache.Arrow.Flight.AspNetCore/

[2021-02-08 14:49] dodyg opened #260 "Adding mimetype"
https://www.programmersought.com/article/64164581267/

[2021-02-08 14:50] dodyg opened #261 "microsoft.net.http.headers"
https://docs.microsoft.com/en-us/dotnet/api/microsoft.net.http.headers?view=aspnetcore-5.0

[2021-02-08 16:25] dodyg opened #262 "build a pdf viewer using pdfjs"
https://github.com/mozilla/pdf.js/archive/gh-pages.zip

[2021-02-09 14:50] dodyg commented on #262
https://github.com/dodyg/practical-aspnetcore/tree/net5.0/projects/mini/pdf-viewer

[2021-02-09 14:50] #262 closed, assigned to nobody

[2021-02-09 14:51] dodyg opened #263 "Add IHostedService example using Timer"

[2021-02-11 08:26] dodyg commented on #263
https://github.com/dodyg/practical-aspnetcore/commit/4c762eddd46483737061e1d6426b7d623bc09562

[2021-02-11 08:28] #263 closed, assigned to nobody

[2021-02-13 18:47] dodyg opened #265 "Create samples on routing conventions"
e.g. https://stackoverflow.com/questions/36358751/how-do-you-enforce-lowercase-routing-in-asp-net-core

[2021-02-22 05:45] LeiYangGH opened #266 "exception when viewing pages of security\authentication-with-identity sample"
I'm using .net 5.0.102 and when viewing pages got following exceptions.
Did I miss something? but the readme doesn't say any special configurations.

PS C:\G\practical-aspnetcore\projects\security\authentication-with-identity\src> dotnet watch run
watch : Started
info: Microsoft.AspNetCore.DataProtection.KeyManagement.XmlKeyManager[0]
      User profile is available. Using 'C:\Users\YANG.LEI\AppDa

[2021-02-22 07:26] dodyg commented on #266
Oh bummer. Let me check it tonight when I have access to my computer. Thanks for the report.

[2021-02-22 14:35] LeiYangGH opened #267 "sample request: demonstate how to configure a ssl certificate file(reuse a file that a webserver such as nginx uses)"
Could you add such a sample?

[2021-02-22 15:52] Kralizek opened #268 "Add CoreWcf sample"
CoreWCF hit GA last week. Time to add a simple sample? :)

I could put up a simple PR for it.

[2021-02-23 10:13] dodyg commented on #267
Never done it before but I can try

[2021-02-23 10:13] dodyg commented on #266
Didn't get a chance last night. Will try today.

[2021-02-23 10:14] dodyg commented on #268
I've never used them. If you have a simple sample, yes. Let's dedicate a section for CoreWCF.

[2021-02-23 11:36] LeiYangGH commented on #266
thanks!

[2021-02-23 11:43] LeiYangGH commented on #267
thanks. i've read the [microsoft docs](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/certauth?view=aspnetcore-5.0) but it seems too many ways and all look complicated. and i wonder why there isn't a simple way of configuration in `appsettings.json`.

I'm currently using very ugly walkaround:
[code]

[2021-02-23 17:03] Tratcher commented on #267
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel/endpoints?view=aspnetcore-5.0#replace-the-default-certificate-from-configuration

[code]

Note as of 5.0 it also automatically rebinds if you change the Kestrel config section.

[2021-02-23 23:37] LeiYangGH commented on #267
@Tratcher, tried but without luck.
The problem is, the settings json structure above is unlike `appSettings.json` nor `launchSettings.json`(at least default template doesn't contain the section), so i'm not sure where to put that configuration(in the standard way). and seems extra code is also required to load that configuraion `Configure(context.Configuration.GetSection("Kestrel"))`.
Is there any

[2021-02-24 01:00] LeiYangGH commented on #267
Let me summarize the goal, if not clear:

- Configure a Certificate path and password in json, with built in parsing mechanism and **least extra code**(even no code is best)
- The configuration should be **tied to specific environment or profile**. For example, in development environment, asp.net core uses localhost certificate by default, no need to change the behaviour. But in production environ

[2021-02-24 01:24] Tratcher commented on #267
For that second requirement you'd use appsettings.production.json vs appsettings.development.json. The host should load the correct config at runtime.

[2021-02-24 01:29] LeiYangGH commented on #267
thanks for your comments!

[2021-02-24 07:51] #268 closed, assigned to nobody

[2021-02-24 08:12] dodyg commented on #268
Thanks for this PR. I added an entry for CoreWCF section at the front page.

[2021-02-24 08:31] dodyg commented on #266
It's fixed. Just download the latest version.

You can see the fixes in these two commits

https://github.com/dodyg/practical-aspnetcore/commit/3690b370534175996935a5de398e267cf28c3bed
https://github.com/dodyg/practical-aspnetcore/commit/f0368e6ae9ce6d15c83eab72071747b019bbc3a3

Thanks for filling an bug report.

[2021-03-09 15:23] dodyg opened #270 "[Remote] attribute sample"
This is the first time I heard about this validation attribute.

https://docs.microsoft.com/en-us/aspnet/core/mvc/models/validation?view=aspnetcore-5.0#remote-attribute

[2021-03-25 07:17] dodyg opened #271 "Create samples for MapAction"

[2021-03-25 07:51] dodyg commented on #271
https://github.com/dodyg/practical-aspnetcore/tree/net5.0/projects/net6/map-action

[2021-03-25 08:15] Kralizek commented on #271
This could be interesting to create a endpoint-oriented application 🤔

[2021-03-25 10:06] dodyg commented on #271
Yeah there are so many possibilities

[2021-04-13 23:02] genesisrrios commented on #205
Hi, I'd like to take this.

[2021-04-14 09:35] dodyg commented on #205
Awesome. Go ahead!

[2021-04-24 15:25] armintodev commented on #256
hello man

I viewed your link in your comment title.

well I can contribute in Permission Authorization with Policy based in your issue.

what do you think?
Thanks.

[2021-04-25 07:19] dodyg commented on #256
Go ahead!

[2021-04-30 13:05] dodyg opened #274 "Add RenderFragment method sample for Blazor"

[2021-05-03 08:23] dodyg commented on #205
@genesisrrios  I added a credit to you in the readme for your submission https://github.com/dodyg/practical-aspnetcore/tree/net5.0/projects/mvc/result-json. Thanks!

[2021-05-03 10:10] lohithgn commented on #274
@dodyg do you mind if i work on this ? I can create a simple example of RenderFragment based on the official doc - https://docs.microsoft.com/en-us/aspnet/core/blazor/components/templated-components?view=aspnetcore-5.0

Thoughts ?

[2021-05-03 10:54] lohithgn commented on #274
@dodyg i have created a pull request - [PR275](https://github.com/dodyg/practical-aspnetcore/pull/275)

Do have a look at it. Merge it if its according to what you had in mind.

Thanks.

[2021-05-03 11:19] lohithgn commented on #267
@LeiYangGH the kestrel setting needs to be added to appsettings.json file. launchsettings.json is not used by the run time. launchsettings is used by Visual Studio or dotnet cli to bind the url to your app when you run the app. Here is the schema for appsettings.json [http://json.schemastore.org/appsettings](http://json.schemastore.org/appsettings). kestrel is one of the nodes in your appsettings.

[2021-05-03 11:42] lohithgn commented on #258
Are you looking for a sample which showcase just the radiobutton selection handling ( like the gist in the link you have provided ) ?

[2021-05-04 09:07] dodyg commented on #274
It's really nice. Next time please add a `README.md` on the project folder and put a credit. I added it for now https://github.com/dodyg/practical-aspnetcore/tree/net5.0/projects/blazor/RenderFragment

[2021-05-04 09:13] lohithgn commented on #274
@dodyg ahh i see. Thanks. May be you can close this issue for now then.

[2021-05-04 09:14] dodyg commented on #258
Yes.

The sample needs to demonstrate how to use Radio buttons on at least two choices.

[2021-05-04 09:16] dodyg opened #276 "Create samples for the new Minimal Hosting APIs"

[2021-05-04 09:16] dodyg commented on #276
This is the first sample https://github.com/dodyg/practical-aspnetcore/tree/net5.0/projects/net6/hello-world

[2021-05-04 09:17] dodyg commented on #276
The next step is to add sample for `WebApplication.CreateBuilder()`

[2021-05-05 07:49] #274 closed, assigned to nobody

[2021-05-07 02:56] lohithgn commented on #258
PR created: https://github.com/dodyg/practical-aspnetcore/pull/277

[2021-05-07 14:55] lohithgn commented on #276
@dodyg you may want to check this issue https://github.com/dotnet/aspnetcore/issues/32432 ... Damian feels the WebApplication.CreateBuilder() is inefficient at the moment ... they are investigating this ...

[2021-05-09 10:11] #258 closed, assigned to nobody

[2021-05-20 01:17] lohithgn commented on #4
PR created for this feature: https://github.com/dodyg/practical-aspnetcore/pull/278

[2021-05-20 13:30] dodyg commented on #4
Awesome!

[2021-05-20 13:30] #4 closed

[2021-05-20 13:31] dodyg commented on #271
Samples are here https://github.com/dodyg/practical-aspnetcore/tree/net5.0/projects/net6

[2021-05-24 07:43] dodyg opened #281 "Explore reaqtor"
This thing is interesting. We should explore it.

https://reaqtive.net/download/

[2021-05-24 07:50] dodyg opened #282 "Create samples with LiteDb as storage"
https://github.com/mbdavid/litedb

[2021-05-24 07:51] dodyg opened #283 "Create samples using Stl.Fusion"
https://github.com/servicetitan/Stl.Fusion

[2021-05-24 08:01] dodyg opened #284 "Add samples for etcd"
Once you are working on more than one machine suddenly sharing states become important.

https://github.com/shubhamranjan/dotnet-etcd

[2021-05-25 00:41] lohithgn commented on #11
working on this...

[2021-05-25 01:04] lohithgn commented on #11
Where should this example be placed ? inside projects > syndications folder ?

[2021-05-25 07:35] dodyg commented on #11
Yup

[2021-05-25 15:19] dodyg opened #285 "Add samples for System.Text.Json writable DOM"
https://github.com/dotnet/designs/blob/main/accepted/2020/serializer/WriteableDomAndDynamic.md

[2021-05-25 15:32] dodyg opened #286 "HTTP Logging Middleware"
https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-6-preview-4/#http-logging-middleware

[2021-05-25 15:32] dodyg opened #287 "IConnectionSocketFeature"
https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-6-preview-4/#iconnectionsocketfeature

[2021-05-26 10:56] lohithgn commented on #11
PR created - https://github.com/dodyg/practical-aspnetcore/pull/288

[2021-05-28 01:06] lohithgn commented on #286
should this be in ```projects > net6 > middlewares > http-logging``` ? what was your idea ?

[2021-05-28 01:21] lohithgn commented on #19
if we are in aspnetcore - you will either be using RazorPages model or MVC model.
Both RazorPages & MVC model have Razor engine as the View engine.
If we have to showcase Razor outside of MVC - then it has to be non aspnetcore project types. which will defeat the purpose of practical-aspnetcore ?

thoughts ?

[2021-05-28 01:30] lohithgn commented on #21
@dodyg what do you mean by ```nested routing``` ?

Do you have any examples of nested routing ?

[2021-05-28 01:35] lohithgn commented on #27
```https://github.com/aspnet/Proxy``` is archived and has been moved to aspnetlabs. That means - its still an experiment and is not ready for production.

Currently the recommended one is YARP - https://github.com/microsoft/reverse-proxy

[2021-05-28 01:36] lohithgn commented on #27
https://microsoft.github.io/reverse-proxy/articles/getting_started.html

[2021-05-28 03:33] lohithgn commented on #42
this is obsolete as of 2019. Close this issue.

[2021-05-28 03:34] lohithgn commented on #42
https://github.com/dotnet/AspNetCore/issues/12890

[2021-05-28 11:08] #11 closed

[2021-05-28 11:25] dodyg opened #289 "Finish Syndication-3 sample to download the media file (podcast downloader)"
https://github.com/dodyg/practical-aspnetcore/tree/net5.0/projects/syndications/syndication-3

[2021-05-28 13:31] lohithgn commented on #59
ModeServices is obsolete now ...

[2021-05-29 11:13] #42 closed

[2021-05-29 11:14] dodyg commented on #27
Yeah we should be writing a sample using YARP instead.

[2021-05-29 11:14] #27 closed

[2021-05-29 11:16] dodyg commented on #59
Things come and go. Damn.

[2021-05-29 11:16] #59 closed

[2021-05-29 11:20] dodyg commented on #21
Something like

`map.Route('/admin', map.Get('xxx')` to respond to `/admin/xxx`

[2021-05-29 11:24] dodyg commented on #19
Razor Template Engine is useful beyond just generating string for the view. You can use it to in theory to generate static files or generate emails. These are activities that are within the realm of people using ASP.NET Core for. The problem is that Razor Template Engine is too highly coupled with MVC which creates problems.

Razor will have a new architecture in .NET 6. It's an opportunity to tak

[2021-05-29 11:26] dodyg commented on #286
Yup. We need a couple of samples for this and see if there are advanced scenario that's not covered in documentation yet.

[2021-05-30 15:04] LeiYangGH commented on #266
Sorry for late response but i still fail to run this sample( different error this time). Before creating a new issue, i'd like to post the issue here and see if there's any feed back.

Steps:
1. clone latest repo, branch net5.0
2. go to projects\security\authentication-with-identity, run `build.bat`
3. run `authentication-with-identity.exe`

Exceptions:

PS C:\G\practical-aspnetcore\projects\secur

[2021-05-31 07:13] dodyg commented on #266
I will review this today.

[2021-05-31 08:04] LeiYangGH commented on #266
maybe it was due to lack of some database in my environment?
but if the readme contains steps to setup(such as where to specify connection strings, and whether some initialize sql is needed) then it will be great.

[2021-05-31 08:15] dodyg commented on #266
There shouldn't be. The DB is in memory.

On Mon, May 31, 2021 at 10:05 AM Yang Lei ***@***.***> wrote:

--
Dody Gunawinata
Chief Software Architect
SilverKey Technologies, LLC
Mobile: +20 01279799935
Skype: dodygunawinata
http://egypt.silverkeytech.com/ <http://www.silverkeytech.com/>
https://github.com/dodyg/

[2021-05-31 08:51] dodyg commented on #266
@LeiYangGH please follow these two steps

![steps](https://user-images.githubusercontent.com/1761249/120167469-11d5a480-c1fe-11eb-8c75-04a0fbc2fcd2.png)

[2021-05-31 09:18] LeiYangGH commented on #266
This is full log:

[code]

[2021-05-31 10:05] dodyg commented on #266
This is weird

https://github.com/dodyg/practical-aspnetcore/blob/b86266d171d72e49bbfc0e2e87e8226b667c767f/projects/security/authentication-with-identity/src/Program.cs#L34

The code is right there.

Can you try changing the UseSqlite

` => options.UseSqlite(@"Data Source=C:\identity.db");`

[2021-05-31 11:24] LeiYangGH commented on #266
Changed to this:
[code]
But error is the same.
[code]

[2021-05-31 12:50] dodyg commented on #266
@lohithgn What do you think is the problem here? We need a third pair of eyes

[2021-05-31 13:06] lohithgn commented on #266
@dodyg will take a look at it and will update

[2021-05-31 13:13] lohithgn commented on #10
@dodyg what folder should this sample be placed ?

[2021-05-31 13:15] dodyg commented on #10
a new folder xml. It's a lost art.

[2021-05-31 13:16] lohithgn commented on #10
projects > xml ?

[2021-05-31 13:19] dodyg commented on #10
yup. Then put xml-validator (or something similar) for the project inside the projects > xml folder.

[2021-05-31 13:25] lohithgn commented on #10
Ok. I have it now as projects > xml > XmlValidation

[2021-05-31 13:31] lohithgn commented on #10
PR created - https://github.com/dodyg/practical-aspnetcore/pull/290

[2021-05-31 13:33] #10 closed

[2021-06-01 01:23] lohithgn commented on #266
@dodyg I have no issue running the sample. I tried the following two ways of running the app:
1. Navigate to projects/security/authentication-with-identity/src. then ```dotnet build```. then ```dotnet run```. Was able to register a user, login and logout
2. Navigate to projects/security/. Execute ```build.bat```. Navigate to projects/security/authentication-with-identity/src/bin/debug/net5.0. Exec

[2021-06-01 01:27] lohithgn commented on #266
having said that - i tried above steps from command line.

I just opened the project in Visual Studio and i put a breakpoint in line 81 in program.cs. I see the exception.

![image](https://user-images.githubusercontent.com/2450336/120254095-9c300e00-c2bb-11eb-9dd4-f4721c03d3db.png)

interesting ...

[2021-06-01 01:30] lohithgn commented on #266
@dodyg @LeiYangGH can you try the following code for Configure()
[code]

[2021-06-01 01:30] lohithgn commented on #266
@dodyg @LeiYangGH can you try the following code for Configure()
[code]

[2021-06-01 02:31] Tratcher commented on #266
It's recommended to set up the database in Main and to directly create the DI scope required.
https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/sql?view=aspnetcore-5.0&tabs=visual-studio#add-the-seed-initializer

[2021-06-01 02:51] lohithgn commented on #266
@Tratcher  that is true.

@dodyg may be you can update the sample. Dont do the DB initialize check in Configure() instead do it in Main.

[2021-06-01 03:18] LeiYangGH commented on #266
@lohithgn I **CAN** run the sample if update code like you wrote above. Thanks!
[code]

[2021-06-01 03:22] lohithgn commented on #266
@LeiYangGH we are working on a better solution than what i proposed. i am in the middle of creating a PR. I suggest you wait for the PR to be merged.

[2021-06-01 03:26] lohithgn commented on #266
@LeiYangGH here is the PR which is the correct way of doing the DB creation - #291

[2021-06-01 06:45] #266 closed, assigned to nobody

[2021-06-01 06:49] dodyg commented on #266
Excellent - thanks everyone. I never use EF Core so I have no idea about this subtleties in behavior.

[2021-06-01 12:50] lohithgn commented on #266
Startup is a magic. You need to know when the Configure() and ConfigureServices() are called in the lifecycle :). This was not EF thing - rather - what is the right place to ensure database is created. Happy to help anytime :)

[2021-06-01 13:45] dodyg commented on #266
This can be a new sample

[2021-06-03 10:55] lohithgn commented on #56
New docs page: https://docs.microsoft.com/en-us/aspnet/core/security/cors?view=aspnetcore-5.0

CORS support is part of the framework now...

[2021-06-03 11:09] lohithgn commented on #54
New docs page: https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/introduction?view=aspnetcore-5.0

[2021-06-03 11:20] lohithgn commented on #54
The old repo contains examples here: https://github.com/aspnet/DataProtection/tree/master/samples

We can just recreate them here ...

where should this samples go ?

[2021-06-03 11:24] lohithgn commented on #54
this can be at this path: projects > security > data-protection > src > sample-1...etc

[2021-06-03 11:28] neman commented on #54
Looks good to me. Stick with the existing docs convention (although this repo folder is just security, not security-and-identity, which is I guess understandable enough)

![image](https://user-images.githubusercontent.com/350314/120637659-78152e00-c46f-11eb-9301-1345e3b53b01.png)

[2021-06-03 11:34] lohithgn commented on #54
@neman  that was my thoughts too ... the official docs have them under security & identity. But dataprotection is more of just security and not identity. And in this repo - we just have security folder. so will create them under security

[2021-06-07 01:29] lohithgn commented on #54
@dodyg can you add this issue to Project here -https://github.com/dodyg/practical-aspnetcore/projects/1 -  and assign it to me. set it to in progress.
Thanks.

[2021-06-07 02:07] lohithgn commented on #54
see if you can add all issues to the project. that way we know which ones are in which phase.

that will surely help contributors.

[2021-06-07 08:32] #127 closed

[2021-06-07 09:11] dodyg commented on #54
Done. Yeah let's do some rudimentary project management here.

[2021-06-07 16:59] dodyg commented on #56
I can't believe this project has been running over 5 years now since 2016 - there are so references to projects that are out of date.

[2021-06-08 16:27] dodyg opened #292 "Create a learning path for absolute beginner to the framework"
We should create a page containing 30 - 50 steps linked to each existing relevant samples for complete newbie to ASP.NET Core.
We do have to pick and choose the best path for people starting with ASP.NET Core 6.

[2021-06-09 02:20] lohithgn commented on #54
Finished 3 demos so far:
- default settings
- with blob storage
- with key vault & blob storage

You can check the progress here: https://github.com/lohithgn/practical-aspnetcore/tree/lohithgn/issue-54

[2021-06-10 14:00] dodyg opened #293 "Write simple samples for YARP"

[2021-06-10 14:01] dodyg opened #294 "Create samples for observability"
We can use the open telemetry support or use honeycomb

[2021-06-11 03:29] lohithgn commented on #54
@dodyg this is done now. PR #295 fixes this. Following demos are available:
- Default Settings
- Key Persistence using Azure Storage Blob
- Key Persistence using Azure Storage Blob & Key Encryption using Azure Key Vault
- Key Persistence using relation database and EF Core data context
- Key Persistence using Redis
- Key Persistence using custom XML encryptor

Once merged issue can be closed (on p

[2021-06-11 10:14] #54 closed

[2021-06-11 13:03] lohithgn commented on #293
i will take this.

@dodyg can you add this to the project , assign it to my name and out it to inprogress.

On a side note: you can make me a contributor. then i can assign it myself and set its status. Let me know

[2021-06-11 13:03] lohithgn commented on #293
YARP docs: https://microsoft.github.io/reverse-proxy/index.html

[2021-06-11 13:09] lohithgn commented on #293
@dodyg YARP team has a bunch of samples on github. Here is the link: https://github.com/microsoft/reverse-proxy/tree/main/samples

Do we need everything copied here to practical-aspnetcore ?

[2021-06-11 13:33] lohithgn commented on #293
What should be the path to the sample: projects/reverse-proxy/basic-yarp-sample

[2021-06-11 13:45] lohithgn commented on #285
Whats your idea on this ? I mean - if we were to showcase this i.e. System.Text.Json writable dom - in ASP.NET Core - what sample idea works ?

[2021-06-11 13:55] lohithgn commented on #249
is this for Blazor ?

[2021-06-12 11:55] dodyg commented on #293
projects/yarp is better and straightforward

[2021-06-12 12:01] dodyg commented on #293
https://github.com/microsoft/reverse-proxy/tree/main/samples/ReverseProxy.Minimal.Sample

This is nice but it needs to go simpler. We need to pair it with a running hello world that you can just run and test the proxy with.

[2021-06-12 12:02] dodyg commented on #293
done

[2021-06-12 12:08] dodyg commented on #285
One of the primary usage for this writable DOM is the ability to modify an existing JSON document without deserializing them into objects and then serializing it again.
For example https://gist.github.com/keeguon/2310008. How would you add "wakanda" into this list of countries?

[2021-06-12 12:09] lohithgn commented on #293
Well.... Reverse proxy is the concept. YARP is one of the software/package that let's you do it...

[2021-06-12 12:12] dodyg commented on #285
We can make the following samples

* [ ] Find a simple node and update its value
* [ ] Find a nested object node and update one of its value
* [ ] Find a nested object node and replace it
* [ ] Append an item at the end an array.
* [ ] Insert an item an n position in an array
* [ ] Replace an item in an array.
* [ ] Find an object within an array and replace one of its value
* [ ] Replace a proper

[2021-06-12 12:14] dodyg commented on #249
Yup. https://docs.microsoft.com/en-us/aspnet/core/blazor/advanced-scenarios?view=aspnetcore-5.0

I haven't never used it in real life but it's a good thing to learn.

[2021-06-12 12:16] dodyg commented on #293
yeah but realistically we are not going to add samples for other packages/tech that is not YARP such as NGINX, HAProxy...

[2021-06-12 15:48] lohithgn commented on #293
How about:
- a blazor wasm front end runs at https://localhost:5001
- a asp.net core web api backend runs at https://localhost:5002
- YARP runs at https://localhost:5003 with following routes set up:
   -  "/" -> proxies to -> https://localhost:5001
   - "/api" -> proxies to -> https://localhost:5002

[2021-06-13 06:48] lohithgn commented on #293
the yarp minimal sample demo is possible only with net6.0 preview 4. If we want to do the minimal sample for yarp - this will need to be in projects/net6/yarp. else if we go the old Startup way this can be in projects/yarp ...

@dodyg what do you think ?

[2021-06-13 07:09] dodyg commented on #293
net6/yarp for now. Then when net6 is launched we move it to /projects/

[2021-06-14 04:05] lohithgn commented on #293
PR created - https://github.com/dodyg/practical-aspnetcore/pull/296

[2021-06-15 00:53] lohithgn commented on #228
what else is needed on this issue ?

[2021-06-15 01:04] lohithgn commented on #227
@dodyg Orchard Core already has samples on mudule + multi tenant scenarios. Link here: https://github.com/OrchardCMS/OrchardCore.Samples

What is needed for PANC (Practical ASP.NET Core) ?

[2021-06-15 07:00] dodyg commented on #227
OrchardCore Module system is extensive. It needs to be broken down in multiple samples.

There are basic things such as

Modules
- What can be shared between components and what can be isolated within each component? how?
- How do you refer to static resources located module in the main app?
- How do you deal with the routing between main module and hosting system? It differs between Razor Pages a

[2021-06-15 07:02] dodyg commented on #228
Circular reference in System.Text.Json

https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-preserve-references?pivots=dotnet-5-0

[2021-06-15 07:03] dodyg commented on #228
Virtualization in Blazor and a couple of more new things in .NET 5

https://www.codemag.com/Article/2010102/Blazor-Updates-in-.NET-5

[2021-06-15 07:04] dodyg opened #297 "Mini App for Printing in PDF"
This is a common task that many people will find useful.

[2021-06-15 07:14] #293 closed, assigned to lohithgn

[2021-06-15 07:38] dodyg commented on #294
https://devblogs.microsoft.com/dotnet/conversation-about-diagnostics/

[2021-06-16 11:46] lohithgn commented on #297
Is the idea something like:

Lets say we create a page which shows an Invoice (with some header, footer, and then line items)
Click a button on the page which says "Print"
A controller prepares the PDF and sends it to the browser as FileResult

??

[2021-06-16 15:03] dodyg commented on #297
Yeah - this is a very popular problem

[2021-06-21 07:33] dodyg commented on #285
This adds the sample of accessing primitives from JSON string

https://github.com/dodyg/practical-aspnetcore/commit/1da2bfccfc8b67402bec5e83cf6238ecf523dc43

[2021-06-21 08:30] dodyg commented on #285
This adds a sample about accessing object and using `JsonObject`.

https://github.com/dodyg/practical-aspnetcore/commit/7a766b588ddc1ce0b914d553d471f55b18e0b69f

[2021-06-23 09:46] dodyg commented on #285
This adds a sample on how to find a node based on one of its value

https://github.com/dodyg/practical-aspnetcore/commit/9704265cdb816ff6fab4f65a38ce791474392f13

[2021-06-23 10:25] dodyg commented on #285
This is a slightly more complex node LINQ search on a string property and an array

https://github.com/dodyg/practical-aspnetcore/commit/4f3e6e5e1b490f5d7cb601d6dfcc877d788f193b

[2021-06-23 10:34] dodyg commented on #285
This LINQ search try to find a node that doesn't have a particular property

https://github.com/dodyg/practical-aspnetcore/commit/eec8a4cf7f97dd661e2a4062b49866ad2bb42663

[2021-06-24 09:33] dodyg commented on #285
This shows how to create a document using `JsonObject` https://github.com/dodyg/practical-aspnetcore/commit/195178c483d39a861ebbf5b31c9231c5aba0e346

[2021-06-24 09:51] dodyg commented on #285
This shows how to create a document with `JsonArray` https://github.com/dodyg/practical-aspnetcore/commit/7215c5093a1b8d91a96744d664ea35620fbff51c

[2021-06-25 10:13] dodyg commented on #297
This looks like a good library to use https://github.com/rdvojmoc/DinkToPdf

[2021-06-26 09:00] dodyg commented on #285
This shows how to update properties of a JSON document https://github.com/dodyg/practical-aspnetcore/commit/9b1060206a9d99bc2028f7b00d81e7bd8198887d

[2021-06-26 10:42] dodyg commented on #285
Delete elements in a document https://github.com/dodyg/practical-aspnetcore/commit/809fc40e2eeac35c411e8224ca6b6c6be5d01020

[2021-06-26 11:13] dodyg commented on #285
Add elements into a JSON array https://github.com/dodyg/practical-aspnetcore/commit/968a1f1814595300813f229a57e28501dd0815ef

[2021-06-28 02:30] lohithgn commented on #297
@dodyg there are many packages for this scenario :) per se this is not the framework/platform ASP.NET core problem. What i mean is - asp.net core out of the box has not ( should not) provided any PDF related things and thats by design. PDF creation is outside of Web framework. So there are many 3rd party packages available and if one needs PDF capability - its left to them to carefully study the p

[2021-06-28 07:15] Kralizek commented on #297
As a general direction for this repository, what do you think of samples that use third party libraries?

[2021-06-28 07:53] lohithgn commented on #297
@Kralizek good question. i will leave it to @dodyg.

Personally - i would like to stick to what the framework has to offer in this Practical ASP.NET Core repository. If we start putting examples of 3rd party libraries - we may see a flooding of examples from community members. Just my opinion here.

i will wait to hear what @dodyg  has to say.

[2021-06-28 07:54] dodyg commented on #297
Every ASP.NET Core web developer working in business domain will encounter this scenario. Creating samples of other projects within .NET OSS community is fine as long as it related to the domain of web development.

Perfect.

We have samples for OrchardCore, CoreWCF, Orleans - they are not part of ASP.NET Core framework but they are relevant. Samples for third party libraries are welcome as long a

[2021-06-28 07:55] lohithgn commented on #297
Understood

[2021-06-28 08:11] dodyg commented on #297
It will be brilliant for example if we have section for EntityFramework or Dapper because I mean, most web development would require database access at some point. It's missing so far simply because I don't use them. It will also take a dedicated work to cover this topic properly.

I am barely able to keep up with  the ever growing .NET web related surface APIs and we haven't even touched identity

[2021-07-01 08:39] dodyg opened #298 "Update YARP sample to the latest version"
https://github.com/microsoft/reverse-proxy/releases/tag/v1.0.0-preview12

[2021-07-19 07:56] dodyg opened #299 "Start writing samples for ASP.NET Core Integration with identity servers"
https://www.keycloak.org/

Now that ID5 is a commercial product (good on them), keycloak is a good alternative

[2021-07-19 12:18] dodyg commented on #299
Evaluate https://github.com/simpleidserver/SimpleIdServer

[2021-07-19 12:19] dodyg commented on #299
Evaluate https://github.com/openiddict/openiddict-core or https://docs.orchardcore.net/en/dev/docs/reference/modules/OpenId/

[2021-07-19 16:18] Kralizek commented on #299
Maybe AWS Cognito?

[2021-07-20 08:12] dodyg commented on #299
I haven't used them. We can just point to their samples. I assume they have plenty. But if they don't exist, I welcome a PR. I don't have amazon account.

[2021-07-20 14:50] Meligy commented on #299
Wow. Good list. I didn't know about a few of them until I was evaluating this 2-3 weeks ago. I think openiddict is the most popular candidate as an Identity Server replacement for a pure .NET solution.

[2021-07-27 07:52] dodyg opened #300 "Write a series of examples on what can be injected on minimal APIs"
https://github.com/dotnet/aspnetcore/issues/33870

[2021-08-10 19:44] atresnjo commented on #299
https://fusionauth.io/ is also a good alternative

[2021-08-15 04:30] lohithgn commented on #299
OpenIdDict has a fantastic list of samples covering all auth scenarios here: [https://github.com/openiddict/openiddict-samples](https://github.com/openiddict/openiddict-samples)

So - are we saying we should just copy those over to here i.e. to practical aspnet core > identity :)

[2021-08-15 04:57] lohithgn commented on #298
PR created - https://github.com/dodyg/practical-aspnetcore/pull/301

[2021-09-01 10:58] dodyg opened #302 "BindAsync"
https://twitter.com/buhakmeh/status/1432718239059087373

We should develop a C# generator for this

[2021-09-07 07:17] #285 closed, assigned to dodyg

[2021-09-07 07:20] dodyg opened #303 "[SupplyParameterFromQuery] sample"

[2021-09-07 07:33] dodyg opened #304 "Create sample for custom Results"

[2021-09-07 07:45] dodyg opened #305 "InputLargetTextArea sample"

[2021-09-07 07:45] dodyg opened #306 "Add sample for ISupportsConfigureWebHost"

[2021-09-07 07:48] dodyg opened #307 "Sample for Blazor HeadOutlet"

[2021-09-07 07:56] dodyg opened #308 "Microsoft.AspNetCore.Components.CustomElements samples"

[2021-09-07 13:15] lohithgn commented on #307
Docs here: https://docs.microsoft.com/en-us/aspnet/core/blazor/components/control-head-content?view=aspnetcore-6.0#headoutlet-component

[2021-09-09 12:50] lohithgn commented on #299
@dodyg OpenID Dict already has 6 to 7 samples on various flows (https://github.com/openiddict/openiddict-samples). do we want to copy them to this repo ?

[2021-09-09 13:30] dodyg commented on #299
We should just link it to those samples. If we do samples, it should be something different.

[2021-09-11 14:05] dodyg commented on #300
Create samples out of this list https://gist.github.com/davidfowl/ff1addd02d239d2d26f4648a06158727

[2021-09-11 14:07] dodyg opened #309 "Create samples out of this Minimal APIs feature list"
https://gist.github.com/davidfowl/ff1addd02d239d2d26f4648a06158727

[2021-09-12 06:21] dodyg opened #310 "Port honk from go to ASP.NET Core 6"
https://humungus.tedunangst.com/r/honk/f

[2021-09-22 12:10] dodyg commented on #297
https://github.com/hardkoded/puppeteer-sharp is another good candidate

[2021-09-23 08:06] dodyg commented on #309
https://github.com/dodyg/practical-aspnetcore/commit/b29cc17c4ed7a3fb073adbc0d397f02ad27cf661

[2021-09-23 08:07] dodyg commented on #309
https://github.com/dodyg/practical-aspnetcore/tree/net5.0/projects/net6/web-application-9

[2021-09-23 08:07] dodyg commented on #309
https://github.com/dodyg/practical-aspnetcore/tree/net5.0/projects/net6/web-application-10

[2021-09-23 08:07] dodyg commented on #309
https://github.com/dodyg/practical-aspnetcore/tree/net5.0/projects/net6/web-application-11

[2021-09-23 08:07] dodyg commented on #309
https://github.com/dodyg/practical-aspnetcore/tree/net5.0/projects/net6/web-application-12

[2021-09-26 10:00] dodyg commented on #309
https://gist.github.com/davidfowl/0e0372c3c1d895c3ce195ba983b1e03d#differences-in-the-hosting-model

[2021-09-26 14:33] dodyg commented on #309
https://github.com/dodyg/practical-aspnetcore/tree/net5.0/projects/net6/web-application-options

[2021-09-27 07:10] dodyg commented on #309
https://github.com/dodyg/practical-aspnetcore/tree/net5.0/projects/net6/web-application-builder-5

[2021-09-27 07:28] dodyg commented on #309
https://github.com/dodyg/practical-aspnetcore/tree/net5.0/projects/net6/web-application-13

[2021-09-28 14:34] dodyg commented on #309
https://github.com/dodyg/practical-aspnetcore/tree/net5.0/projects/net6/link-generator-path-by-route-name

[2021-10-04 14:00] shaijut commented on #297
Interesting to me , Can i take this opportunity and create a mini app which prints just PDF using puppeteer-sharp ?

[2021-10-04 14:05] shaijut commented on #282
I am interested, can you explain what minimal things should be added in samples ?

- UI to list the data or Full CRUD is required ?

[2021-10-04 14:42] dodyg commented on #282
I've created one (a wiki) https://github.com/dodyg/practical-aspnetcore/tree/net5.0/projects/sfa/wiki.

It's better to create another SFA like a blog using the minimal API and LiteDb.

[2021-10-04 14:43] dodyg commented on #297
@shaijut go for it, it's yours.

[2021-10-06 11:51] lfmundim commented on #112
This looks like it's already been implemented

[2021-10-06 11:54] #112 closed

[2021-10-11 06:52] dodyg opened #315 "Explore FASTER"
https://microsoft.github.io/FASTER/docs/quick-start-guide/

Maybe this can be a Redis alternative. I have no idea but it's worth exploring.

[2021-10-13 08:01] dodyg opened #316 "Write an SFA for image gallery (album)"

[2021-10-13 08:31] dodyg opened #317 "Upgrade .NET 6 samples from RC1 to RC2"
https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-6-rc-2/

[2021-10-13 14:46] #317 closed, assigned to dodyg

[2021-10-18 06:49] dodyg opened #318 "Implement a pokemon data server using minimal API"
https://github.com/robert-z/simple-pokemon-json-api

[2021-10-18 12:33] lohithgn commented on #318
Will work on it. Seems perfect for .NET 6 Minimal API

[2021-10-18 12:37] #271 closed, assigned to nobody

[2021-10-18 12:37] #276 closed, assigned to nobody

[2021-10-18 12:45] lohithgn commented on #318
@dodyg where should this be created ? here `practical-aspnetcore\projects\net6` ??

If yes - i am thinking of the name as `minimal-api-pokedex` as a folder in front of `practical-aspnetcore\projects\net6` ?

[2021-10-18 13:02] dodyg commented on #318
Looks good.

[2021-10-20 07:37] dodyg opened #319 "Sanity check"
@lohithgn can you please run this sample in RC2 and see if it works?

https://github.com/dodyg/practical-aspnetcore/tree/net5.0/projects/net6/web-application-builder-4

I filed a confirmed bug on this exact code on RC1 and the case was confirmed closed (https://github.com/dotnet/aspnetcore/issues/36999). However I still can't make it work on RC2.

[2021-10-21 01:31] lohithgn commented on #319
@dodyg sure. i will check it out.

[2021-10-21 09:02] dodyg commented on #319
I will close this. The fix is not in RC2. It will be available on `WebApplicationOptions`.

[2021-10-21 09:02] #319 closed, assigned to lohithgn

[2021-10-26 01:38] lohithgn commented on #318
@dodyg

Please review this [commit](https://github.com/dodyg/practical-aspnetcore/commit/13bd569ca92ca81e729be3c9175817f645d89eff)
and
this pr #321

Those two updates take care of this issue

[2021-10-26 08:41] dodyg opened #322 "Add a sample on how to create a background task using OrchardCore module"
https://github.com/OrchardCMS/OrchardCore/discussions/7253

[2021-10-27 07:15] dodyg commented on #318
This is awesome 🔥

[2021-10-27 07:15] #318 closed, assigned to lohithgn

[2021-11-08 16:56] dodyg opened #323 "Dig through ASP.NET Core 6.0 Release notes"
https://docs.microsoft.com/en-us/aspnet/core/release-notes/aspnetcore-6.0?view=aspnetcore-6.0

[2021-11-09 08:01] dodyg opened #324 "Host Pokedex API on Azure"
We should host this on Azure free account https://github.com/dodyg/practical-aspnetcore/tree/net5.0/projects/net6/minimal-api-pokedex so it can be used with other samples.

[2021-11-09 08:11] dodyg commented on #324
I applied for Azure Credits for OSS https://opensource.microsoft.com/azure-credits#credits-apply

[2021-11-09 13:17] dodyg opened #325 "Convert samples to .NET 6 convention"
New branch https://github.com/dodyg/practical-aspnetcore/tree/net6.0.

We will upgrade all the samples to use the minimal APIs because it just makes the samples much smaller. It will make it easier for beginners that start their ASP.NET Core learning on .NET 6.

All the new samples for .NET 6 at this moment should still go to https://github.com/dodyg/practical-aspnetcore/tree/net5.0/projects/net6.

[2021-11-09 15:16] dodyg commented on #297
https://github.com/QuestPDF/QuestPDF

https://www.reddit.com/r/csharp/comments/qq2ff0/questpdf_202111_a_new_version_of_the_opensource/

[2021-11-10 12:57] lohithgn commented on #324
@dodyg  cool. let me know when you get access to a subscription. I will see if i can create a github action to deploy. Or i can create a Azure DevOps repo just for CI/CD and deploy from there (i prefer Azure DevOps over GH actions :) )

[2021-11-10 12:57] lohithgn commented on #297
This is a good find.

[2021-11-11 07:30] dodyg commented on #324
I will let you know. They say expect 3 - 4 weeks for a decision. I hope we got it. It will be fun to have a permanent end point that some samples can rely on.

[2021-11-14 12:33] dodyg commented on #302
Implemented here https://github.com/dodyg/practical-aspnetcore/tree/net5.0/projects/net6/parameter-binding-custom-bind-async

[2021-11-14 12:33] #302 closed, assigned to nobody

[2021-11-18 08:03] dodyg commented on #324
@lohithgn we got 10K of Azure Credits!

![azure-tech](https://user-images.githubusercontent.com/1761249/142375259-00c5c908-b0ab-4d72-915d-e3b0440d811f.png)

[2021-11-18 11:36] dodyg commented on #324
I just obtained http://practicalasp.com/ so we can assign pokedex.practicalasp.com

[2021-11-18 11:58] lohithgn commented on #324
Nice...Let us see how we can set it up.

[2021-11-18 11:59] dodyg commented on #324
I will update once I actually got the credit. It should be soon.

[2021-11-21 09:04] dodyg opened #326 "Consider writing samples for Fluid View for Minimal API"
https://github.com/sebastienros/fluid/tree/main/Fluid.MinimalApisSample

[2021-11-23 07:02] dodyg commented on #326
https://github.com/dodyg/practical-aspnetcore/commit/48937792cf259c409a7c200201d48342f00bc2a8

[2021-11-23 08:58] Kralizek commented on #326
This is interesting. I didn't know there was a view engine based on Liquid.

Thanks for pushing such an amazing project!

[2021-11-23 09:41] dodyg commented on #326
It doesn't make sense to use alternative to Razor when using MVC or Razor Pages.  With Minimal APIs, these alternative View Engines can shine. I hope someone is working on a Scriban version.

[2021-11-24 13:49] dodyg commented on #324
Just a follow up update I haven't received the credits yet. Still working on it with Azure folks. They said they've transferred it but I haven't seen it on my console.

[2021-11-25 01:45] dodyg commented on #323
This is a useful checklist

https://github.com/Dotnet-Boxed/Templates/issues/973

[2021-11-30 14:12] dodyg commented on #324
I still haven't received the credits yet.

[2021-12-01 07:00] dodyg commented on #324
Got it! Let's discuss what to do with this

![subscription](https://user-images.githubusercontent.com/1761249/144186913-c2d63c97-6270-4ddb-842b-6659a63cb14d.png)

[2021-12-01 08:26] lohithgn commented on #324
Awesome.

We can have a call on Teams. You can write to me at my personal email - kashyapa78@hotmail.com. Let me know how to proceed.

[2021-12-13 14:04] dodyg commented on #324
Sorry I got swamped at work. I will email you.

[2021-12-21 15:37] dodyg commented on #309
Add sample for Results.ValidationProblem

[2022-02-06 14:01] dodyg opened #327 "Create a sample out of Beer DB"
https://openbeerdb.com/

[2022-02-11 14:52] InteXX opened #329 "Self-Hosted Blazor and Custom Certificates"
I'm investigating the idea of using Blazor WASM to build a retail application that would run on an office Intranet. The application would be installed on a given machine, to be accessed via browser from any of several machines on the LAN.

The biggest stumbling block I'm running into is the question of how to go about securing the channel.

The app itself would run as a Windows Service, listening

[2022-02-12 02:04] dodyg commented on #329
Let me asked around. There must be a standard solution for this because it's a common scenario.

[2022-02-12 02:05] InteXX commented on #329
Thank you, I appreciate it.

[2022-02-18 08:57] dodyg opened #330 "Add sample for gRPC HTTP"
https://github.com/aspnet/AspLabs/tree/main/src/GrpcHttpApi

[2022-04-14 11:03] dodyg opened #331 "Add samples for ASP.NET Core 7 Previews"
* https://devblogs.microsoft.com/dotnet/asp-net-core-updates-in-dotnet-7-preview-3/

[2022-05-11 07:54] dodyg commented on #331
https://devblogs.microsoft.com/dotnet/asp-net-core-updates-in-dotnet-7-preview-4/

[2022-05-11 07:54] dodyg commented on #331
https://devblogs.microsoft.com/dotnet/asp-net-core-updates-in-dotnet-7-preview-2/

[2022-05-14 10:06] dodyg commented on #331
https://devblogs.microsoft.com/dotnet/asp-net-core-updates-in-dotnet-7-preview-3/#support-for-route-handler-filters-in-minimal-apis

Don't touch route-handler as it is being completely revamped in preview 5

[2022-05-23 04:49] dluc opened #333 "Dependency Injection example 3 - CurrentDomain.GetAssemblies()"
Looking at https://github.com/dodyg/practical-aspnetcore/blob/net6.0/projects/dependency-injection/dependency-injection-3/Program.cs - as far as I know this code
[code]
will find only types in assemblies loaded to *this moment*. For perf reason, .NET loads assemblies only when needed, so `GetAssemblies()` is often only a subset of all the app dependencies/assemblies.

A couple of options (not sure

[2022-06-08 16:11] dodyg opened #335 "Azure Infrastructure"
* https://container-1.practicalasp.com/ is now active. It's still empty at the moment.

[2022-06-13 06:41] dodyg opened #337 "implement reallysimple format in an RSS sample"
https://github.com/scripting/reallysimple

[2022-07-01 15:17] dodyg opened #338 "Give samples for more IOptions interfaces"
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/options?view=aspnetcore-6.0

[2022-07-08 06:51] dodyg opened #339 "Let's work on auth samples"
https://github.com/dotnet/aspnetcore/issues/42158

[2022-07-08 07:06] dodyg commented on #339
https://twitter.com/ChadJessup/status/1545301473629679616

[2022-07-19 08:30] khusroohayat commented on #338
We have to Add sample here?

https://github.com/dodyg/practical-aspnetcore/tree/net6.0/projects/configurations

[2022-07-19 08:34] dodyg commented on #338
Yup that's the correct location

[2022-07-19 13:31] khusroohayat commented on #338
Ok, assign it to me

[2022-08-11 07:25] dodyg commented on #338
@khusroohayat any updates?

[2022-08-11 16:48] khusroohayat commented on #338
@dodyg yes. will create a PR for this

[2022-08-17 15:48] khusroohayat commented on #338
@dodyg i have created a PR please review https://github.com/dodyg/practical-aspnetcore/pull/340

[2022-08-23 07:56] dodyg commented on #338
Awesome. We need more @khusroohayat.

[2022-08-23 08:06] khusroohayat commented on #338
OK sure, will create a PR

[2022-08-29 10:12] khusroohayat commented on #338
I have created a PR please review https://github.com/dodyg/practical-aspnetcore/pull/341

[2022-09-04 07:23] dodyg commented on #338
@khusroohayat

I've simplified your sample even further  [here])(https://github.com/dodyg/practical-aspnetcore/commit/a7dd55f053636bf100871ad1af051a626d0b0ce4).

One good principle in creating a sample is reducing the concept and code as much as possible. Anything that is not necessary should be stripped away. This will enable learners not to worry about too much concept when reading a sample.

[2022-09-18 08:16] dodyg commented on #338
@khusroohayat would you be interested on working on more new samples?

[2022-09-18 08:36] khusroohayat commented on #338
@dodyg related to configuration??

[2022-09-18 08:40] dodyg commented on #338
Not necessarily. The surface are for samples are huge.

[2022-09-18 10:35] khusroohayat commented on #338
OK sure I will add more

[2022-10-02 00:12] bcr commented on #330
Do you want a port of the existing `grpc` samples to a new folder `grpc-aspnet` using the new API?

[2022-10-02 08:07] dodyg commented on #330
Can you please elaborate more about the new APIs?

- All gRPC samples are already on Minimal APIs https://github.com/dodyg/practical-aspnetcore/tree/net6.0/projects/grpc.
- All new features for gRPC available on .NET7 is available at https://github.com/dodyg/practical-aspnetcore/tree/net6.0/projects/.net7.

[2022-10-02 08:15] bcr commented on #330
1. You said https://github.com/aspnet/AspLabs/tree/main/src/GrpcHttpApi with the title "Add sample for gRPC HTTP"
2. I interpreted that to mean "please create a sample that uses the API that is documented at this location"
3. I saw on the main branch that there is already a set of GRPC examples, but those do not use the API that is documented at the provided URL
4. My offer was to port those examp

[2022-10-02 08:19] dodyg commented on #330
Ah thanks for the clarification. Those referenced APIs are already implemented here (5 samples) https://github.com/dodyg/practical-aspnetcore/tree/net6.0/projects/.net7#grpc.

It's my fault for not closing this case.

[2022-10-02 08:22] bcr commented on #330
No problem -- I'm doing some hacktoberfest contributions, so I was looking at the issues in your repo.

[2022-10-02 08:23] #325 closed, assigned to nobody

[2022-10-02 08:23] #309 closed, assigned to nobody

[2022-10-02 08:24] #330 closed, assigned to nobody

[2022-10-02 08:25] #228 closed, assigned to nobody

[2022-10-02 08:26] #134 closed

[2022-10-02 08:26] #51 closed

[2022-10-02 08:28] dodyg commented on #330
We need help for samples in SignalR (https://github.com/dodyg/practical-aspnetcore/tree/net6.0/projects/signalr) and Razor Pages https://github.com/dodyg/practical-aspnetcore/tree/net6.0/projects/razor-pages. Those two areas are barely covered.

[2022-10-02 08:30] dodyg commented on #308
https://github.com/dodyg/practical-aspnetcore/commit/ed2cbcd1c8cf26837c05c85e5a877acb14095545

[2022-10-02 08:30] #308 closed, assigned to nobody

[2022-10-02 15:22] dalbarracin commented on #333
Hi @dluc

Just landing to this issue, you meant something like referencing the .dll first by reflection and then retrieves a list of assemblies for instance? I would like to contribute to this if possible :)

[2022-10-03 00:44] dluc commented on #333
@dalbarracin yes that should work. Referencing to any class inside each DLL with force .NET to load all assemblies, then GetAssemblies will return the full list. Something like this:

[code]

[2022-10-03 01:42] dalbarracin commented on #333
Sounds doable @dluc 👍🏻

Also, just to avoid leaking types it would probably be a good idea to create a new AppDomain and Load/Unload the Assemblies if needed but I think that's out of scope.

I will work on this.

[2022-10-03 07:21] #300 closed, assigned to dodyg

[2022-10-03 07:23] #136 closed

[2022-10-03 07:24] #137 closed

[2022-10-03 07:25] #91 closed

[2022-10-03 07:25] #90 closed

[2022-10-03 07:25] #83 closed

[2022-10-03 07:26] #85 closed

[2022-10-03 07:26] #86 closed

[2022-10-03 07:26] #75 closed

[2022-10-03 08:16] dodyg commented on #46
https://github.com/dodyg/practical-aspnetcore/commit/b4672bfe0544ec34d14cd70726e86afea3363a5f

[2022-10-03 08:16] #46 closed

[2022-10-06 16:11] Samkituka commented on #138
Hello,
What needs to be done for this issue ?

[2022-10-11 09:31] dodyg commented on #138
This case is not relevant any more.  That package is out of date.

[2022-10-11 09:31] #138 closed

[2022-10-18 07:54] dodyg opened #353 "Review what's new in System.Text.Json in .NET 7"
https://devblogs.microsoft.com/dotnet/system-text-json-in-dotnet-7/

[2022-10-18 07:55] dodyg opened #354 "Create samples for Razor Component Tag Helper library"
https://razor-components.techgems.net/

This library looks genuinely useful.

[2022-10-21 18:20] ahmedanwar100 commented on #322
going to work on it and please assign it to me. ok?

[2022-10-22 09:14] dodyg commented on #322
Excellent

[2022-10-27 20:30] Joose1992 commented on #354
Hello, @dodyg I am interested in working on this.

[2022-10-28 08:52] dodyg commented on #354
@Joose1992 awesome

[2022-10-28 08:53] dodyg commented on #354
You can create probably around 10 samples out of this library. Start from a very single step then make it a sample. The smaller the sample, the better. You just need to highlight one technique or one feature of the library at a time.

[2022-11-02 17:47] Joose1992 commented on #354
Hello, @dodyg I have been digging into the library and can't find 10 different functionalities to make 10 different samples. do you really need 10?

[2022-11-03 06:08] dodyg commented on #354
Let's start with one first and we go from there.

[2022-11-07 07:30] dodyg commented on #353
https://github.com/dodyg/practical-aspnetcore/commit/5714a428dc2f1f0895de7c10b979ad12e9caefb9

[2022-11-07 08:35] dodyg commented on #353
https://github.com/dodyg/practical-aspnetcore/commit/e1c0ca4c820d9abab8e50317d747fd37d8584bf9

[2022-11-08 14:44] dodyg opened #355 "Go through ASP.NET Core 7 what's new list"
https://learn.microsoft.com/en-us/aspnet/core/release-notes/aspnetcore-7.0?view=aspnetcore-6.0

[2022-11-08 14:49] dodyg commented on #355
https://learn.microsoft.com/en-us/aspnet/core/release-notes/aspnetcore-7.0?view=aspnetcore-6.0#serverready-event-to-measure-startup-time

[2022-11-10 15:54] Joose1992 commented on #354
https://github.com/Joose1992/ComponentTagHelper/tree/main

This will be a simple basic example.

[2022-11-15 07:11] dodyg commented on #354
@Joose1992
- Add bin/ and obj/ to your .gitignore file so they are not added to the commit
- Remove extra items from the sample such as `ErrorView` and `_ValidationScriptsPartial.cshtml`. Strip as many extra files and codes as possible. This way your sample can become smaller. The smaller the better.

[2022-11-22 17:29] Samkituka commented on #327
Hello,
I would like to work on this issue.
Can I have more clarification? For instance what kind of project would you like to create out of Beer DB.
I could do an ASP.NET MVC with a CRUD Operation

[2022-11-23 08:19] dodyg opened #356 "Write samples for Orleans 7.0"
There's a lot of changes

https://learn.microsoft.com/en-gb/dotnet/orleans/whats-new-in-orleans

[2022-11-23 10:26] dodyg commented on #327
Yup that would be great.

- Use .NET 7
- Use Razor Pages
- Create navigation pages. There is no need for input. It will keep the sample simple.

Option 1
- Use SQLite or something that doesn't require external server. LiteDB can also be good.
- Create also an importer so people can import their latest data from https://openbeer.github.io/.

Option 2
- Read the data directly from https://openbeer.g